.moj-filter-layout__filter {
    max-width: 100% !important;
}


/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/

/* Hide elements that require JavaScript by default */
.js-hidden {
    display: none !important;
}

.flo-navigation {
    display: flex;
    justify-content: space-between;
}

.sign-up-link {
    margin-left: 20px;
}

.helpLink {
    visibility: hidden;
}

.heading {
    padding-left: 15px;
}

.attr ul {
    list-style-type: none;
    padding-left: 0 !important;
}

.blue-border {
    border-color: #2b8cc4;
    background-color: #eaf4f9
}

.green-border {
    border-color: #4e9f51;
    background-color: #eaf4f9
}

#forgotPassword {
    text-decoration: none;
}

#forgotPassword:hover {
    text-decoration: underline;
}

#createAccount {
    text-decoration: none;
}

#createAccount:hover {
    text-decoration: underline;
}

.esri-coordinate-conversion {
    width: 260px !important;
}

.bordered-panel {

    border: 2px solid #ccc !important;
}

.govuk-button.save-button-padding {
    padding-left: 50px;
    padding-right: 50px;
}

.govuk-button-group.move-to-right {
    float: right;
}

.govuk-width-container {
    max-width: 1280px;
}

.govuk-grid-column-one-tenth {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0px;
}

@media (min-width:40.0625em) {
    .govuk-grid-column-one-tenth {
        width: 10%;
        float: left;
    }
}

.govuk-grid-column-nine-tenths {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0px;
}

@media (min-width:40.0625em) {
    .govuk-grid-column-nine-tenths {
        width: 90%;
        float: left;
    }
}

.govuk-\!-width-one-tenth {
    width: 100% !important;
}

@media (min-width:40.0625em) {
    .govuk-\!-width-one-tenth {
        width: 10% !important;
    }
}

.user-\!-icon {
    width: 100% !important;
}

@media (min-width:40.0625em) {
    .user-\!-icon {
        width: 2em !important;
    }
}

.no-\!-bottom-margin{
    margin-bottom: 0px !important;
}

.flo-timeline_item-casenote:before {
    top: 22px;
}

.flo-timeline_item-casenote {
    padding-left: 80px;
}

.flo-timeline_item-casenote .activity-avatar {
    margin-left: -65px;
    padding: 0 5px;
}

.activity-avatar {
    vertical-align: middle;
}

.activity-avatar {
    background-color: transparent;
    border: none;
}

.no-activity-items {
    padding-left:10px;
}

.no-activity-items::before {
    background-color: #1d70b8;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 5px;
}

.vertical-align-middle-moz {
    vertical-align: -moz-middle-with-baseline;
}

.vertical-align-middle-webkit {
    vertical-align: -webkit-baseline-middle;
}

p.show-line-breaks {
    white-space: pre-line;
}
.confirm-popup-button {
    background-color: #00703c !important;
}

.confirm-popup-button-red {
    background-color: #d4351c !important;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    padding-right: 0px !important;
}

.inline {
    display: inline;
    width: 16em;
}

.inline2 {
    display: inline;
    width: 42em;
}

.long-link {
    overflow-wrap: break-word;
}

.supporting-document-options {
    display: flex;
}

.govuk-header__content {
    float: right !important;
}

.govuk-footer__meta-item {
    margin-bottom: 0px ;
}

.wrapped-text {
    word-wrap: anywhere;
}

.species-selection-container .govuk-visually-hidden {
    display: none;
}

.autocomplete-wrapper {
    max-width: 20em;
    margin-bottom: 1rem;
}

.moj-timeline:has(:first-child.flo-timeline_item-casenote):before {
    top: 22px;
}

.sub-status-container{
    display: flex;
    gap: 10px;
}

.sub-status-vertical-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.width-limit-override *:not(.govuk-date-input__input), .govuk-form-group {
    max-width: 650px !important;
}

.application-filters {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

@media print {
    .page-break {
        page-break-before: always;
    }

    .no-print {
        display: none;
    }
}