<h1 class="govuk-heading-xl">
    Cutting down trees in England: rules, licences and exceptions
</h1>

<p class="govuk-body">Contents:</p>

<ul class="govuk-list govuk-list--bullet">
    <li><a asp-action="Index">What you need to know</a></li>
    <li><a asp-action="WhenYouNeedALicence">When you need a felling licence</a></li>
    <li><a asp-action="WhenYouDoNotNeedALicence">When you do not need a felling licence (exceptions)</a></li>
    <li><a asp-action="LicenceConditions">Licence conditions</a></li>
    <li><a asp-action="ApplyForALicence">Apply for a felling licence</a></li>
    <li><a asp-action="FellingAndRestockingDefinitions">Felling and restocking definitions</a></li>
</ul>