@{
    ViewBag.Title = "Accept invited user";
    Layout = "_Layout";
}
<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, there is a problem with the link</h1>
    <p class="govuk-body">
        Contact the <a class="govuk-link" href="mailto://">Forestry Commission team</a> directly to report your concerns.
    </p>
</div>


