@using Forestry.Flo.External.Web.Infrastructure
@{
    ViewData["Title"] = "Apply for a felling licence: Accessibility statement";
    ViewData.ShowBackLink(BackLinkType.Close);
}

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
    
    <ul class="govuk-list">
        <li>Published 12/11/2025</li>
        <li>Last updated 12/11/2025</li>
        <li>Next review due 31/12/2025</li>
    </ul>

    <p class="govuk-body">This accessibility statement applies to the 'Apply for  a felling licence' service.</p>

    <p class="govuk-body">This website is run by the Forestry Commission. We want as many people as possible to be able to use this website. </p>
    <p class="govuk-body">For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
    </ul>

    <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
    <p class="govuk-body"><a class="govuk-link" target="_blank" href="https://mcmw.abilitynet.org.uk/">AbilityNet (opens in new tab)</a> has advice on making your device easier to use if you have a disability.</p>

    <h2 class="govuk-heading-l">How accessible this website is</h2>
    <p class="govuk-body">We know some parts of this website are not fully accessible. This means that:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>some radio buttons that reveal extra content use unsupported ARIA attributes, which may interfere with assistive technologies and are not fully supported by screen readers</li>
        <li>maps and map controls cannot be used properly with a keyboard or with Dragon NaturallySpeaking voice software</li>
        <li>some links and dropdowns are not accessible to keyboard-only users or people using screen readers such as VoiceOver and TalkBack</li>
        <li>file upload buttons on some pages cannot be activated using Dragon NaturallySpeaking voice software</li>
        <li>some placeholder text cannot be deleted using assistive technology</li>
        <li>keyboard focus does not always move in a logical order when new content appears</li>
        <li>some interactive elements do not display a visible focus indicator</li>
        <li>at 400% zoom, some content is cut off and not available when the page reflows</li>
        <li>some text and components do not have enough contrast to be easily seen by users with low vision</li>
        <li>some maps do not provide meaningful information for screen reader users</li>
    </ul>
    <p class="govuk-body">These issues mean the website does not fully meet WCAG 2.2 accessibility standards. You can find more detail about each issue in the Known issues with this website section below.</p>
    
    <h2 class="govuk-heading-l">Known issues with this website</h2>
    <p class="govuk-body">We are aware of the following accessibility issues within the service:</p>
    
    <h3 class="govuk-heading-m">Radio buttons use unsupported ARIA attributes without the correct ARIA role</h3>
    <p class="govuk-body">On pages like ‘Create a Property’ and ‘Felling Details’, radio buttons are used to reveal additional content. These use the aria-expanded attribute but do not include a required ARIA role such as menuitemradio.</p>
    <p class="govuk-body">This means the content may not be interpreted correctly by assistive technologies. This does not meet <a class="govuk-link" href="https://www.w3.org/WAI/WCAG21/Understanding/name-role-value.html">WCAG 2.2 success criterion 4.1.2: Name, Role, Value</a>.</p>
    <p class="govuk-body">We have followed the <a class="govuk-link" href="https://design-system.service.gov.uk/components/radios/#conditionally-revealing-radios">GOV.UK Design System guidance for radios with conditionally revealing content</a>, but recognise that this approach may result in invalid HTML.</p>
    <p class="govuk-body">We are monitoring guidance and exploring alternatives.</p>

    <h3 class="govuk-heading-m">Maps cannot be used with a keyboard</h3>
    <p class="govuk-body">On the ‘Create a compartment’ page, users cannot interact with the map using a keyboard.</p>
    <p class="govuk-body">This does not meet <a class="govuk-link" href="https://www.w3.org/WAI/WCAG22/Understanding/keyboard.html">WCAG 2.2 success criterion 2.1.1: Keyboard</a> and <a class="govuk-link" href="https://www.w3.org/WAI/WCAG22/Understanding/keyboard.html">WCAG 2.2 success criterion 2.1.1: Keyboard</a>.</p>

    <h3 class="govuk-heading-m">Maps do not have an equivalent text alternative</h3>
    <p class="govuk-body">On the ‘Create a compartment’, ‘Select or Create a Felling Compartment’ and ‘Check Felling Answers’ pages, the map does not provide an informative text alternative. Screen reader users may encounter empty tab stops or hear announcements such as "Map tab panel", which are not informative.</p>
    <p class="govuk-body">This does not meet <a class="govuk-link" href="https://www.w3.org/WAI/WCAG22/Understanding/non-text-content.html">WCAG 2.2 success criterion 1.1.1: Non-text content</a>.</p>
    
    <h3 class="govuk-heading-m">Missing focus indicators</h3>
    <p class="govuk-body">On the ‘Create a compartment’ page, some elements such as "Basemap selection" do not display a visible focus indicator. This makes it difficult for keyboard users to see their location on the page.</p>
    <p class="govuk-body">This does not meet <a class="govuk-link" href="https://www.w3.org/WAI/WCAG22/Understanding/focus-visible.html">WCAG 2.2 success criterion 2.4.7: Focus Visible</a>.</p>

    <h3 class="govuk-heading-m">Reflow at 400% zoom</h3>
    <p class="govuk-body">On the ‘Create a compartment’ page, the text within the search bar is cut off when zoomed to 400% at 1280px width.</p>
    <p class="govuk-body">This does not meet <a class="govuk-link" href="https://www.w3.org/WAI/WCAG22/Understanding/reflow.html">WCAG 2.2 success criterion 1.4.10: Reflow</a>.</p>

    <h3 class="govuk-heading-m">Some links and dropdowns are not accessible by keyboard</h3>
    <p class="govuk-body">On pages such as ‘Create a property’ and ‘Select felling options’, some links cannot be accessed without a mouse.</p>
    <p class="govuk-body">This may prevent keyboard-only users from accessing essential content. This does not meet <a class="govuk-link" href="https://www.w3.org/WAI/WCAG22/Understanding/keyboard.html">WCAG 2.2 success criterion 2.1.1: Keyboard</a>.</p>
    
    <h3 class="govuk-heading-m">File upload buttons may not work with Dragon NaturallySpeaking</h3>
    <p class="govuk-body">On pages such as ‘Add agent authority form files’ and ‘Supporting documentation’, users of Dragon NaturallySpeaking may not be able to activate file upload buttons using voice commands.</p>
    <p class="govuk-body">This is believed to be a known issue with Dragon and does not meet <a class="govuk-link" href="https://www.w3.org/WAI/WCAG21/Understanding/name-role-value.html">WCAG 2.2 success criterion 4.1.2: Name, Role, Value</a>.</p>
    
    <h3 class="govuk-heading-m">Contrast issues</h3>
    <h4 class="govuk-heading-s">Text contrast</h4>
    <p class="govuk-body">Some text within map interfaces (such as street names, "Collapse" button labels, and map option labels) does not meet the required contrast ratio of 4.5:1 or 3:1 depending on size and weight.</p>
    <p class="govuk-body">This may make it difficult for users with visual impairments to read key information on the page.</p>
    <p class="govuk-body">This does not meet <a class="govuk-link" href="https://www.w3.org/WAI/WCAG22/Understanding/contrast-minimum.html">WCAG 2.2 success criterion 1.4.3: Contrast (Minimum)</a>.</p>

    <h4 class="govuk-heading-s">Graphical object contrast</h4>
    <p class="govuk-body">Some interactive elements in the map, such as zoom controls, the full screen button and the search bar, do not have enough contrast against the background.</p>
    <p class="govuk-body">This can make them hard to see for users with low vision.</p>
    <p class="govuk-body">This does not meet <a class="govuk-link" href="https://www.w3.org/WAI/WCAG22/Understanding/non-text-contrast.html">WCAG 2.2 success criterion 1.4.11: Non-text Contrast</a>.</p>

    <p class="govuk-body">We will update this accessibility statement as we make progress on resolving these issues.</p>

    <h2 class="govuk-heading-l">Feedback and contact information</h2>
    <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>

    <h3 class="govuk-heading-m">Email</h3>
    <p class="govuk-body long-link">
        <a class="govuk-link" href="mailto:fellinglicenceonline@forestrycommission.gov.uk">fellinglicenceonline@forestrycommission.gov.uk</a>
    </p>

    <h3 class="govuk-heading-m">Telephone</h3>
    <p class="govuk-body">
        Phone: 0300 067 4420 <br />
        Textphone: 020 234 4567 <br />
        Monday to Friday, 9am to 5pm (except public holidays) <br />
        <br />
        <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>

    <h3 class="govuk-heading-m">Address</h3>
    <p class="govuk-body">
        Forestry Commission <br />
        620 Bristol Business Park <br />
        Bristol <br />
        BS16 1EJ <br />
	</p>

	<p class="govuk-body">We'll consider your request and get back to you in 5 working days.</p>

    <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
    <p class="govuk-body long-link">
        We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, emailing <br />
        <a class="govuk-link" href="mailto:fellinglicenceonline@forestrycommission.gov.uk">fellinglicenceonline@forestrycommission.gov.uk</a>
    </p>

    <h2 class="govuk-heading-l">Enforcement procedure</h2>
    <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').
        If you're not happy with how we respond to your complaint, 
        <a target="_blank" rel="noreferrer noopener" href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS) (opens in new tab)</a>.
    </p>

    <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
    <p class="govuk-body">The Forestry Commission is committed to making its websites and applications accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h2 class="govuk-heading-l">Content that’s not within the scope of the accessibility regulations</h2>
    <p class="govuk-body">PDFs, documents and attachments to email notifications published before 23 September 2018 may not meet accessibility standards. For example, they may not be structured so they’re accessible to a screen reader.</p>
    
    <h3 class="govuk-heading-m">Third party content that’s under someone else’s control</h3>
    <p class="govuk-body">Pages and websites that are linked to and from this service may not be fully accessible.</p>
    <p class="govuk-body">These include:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>external pages hosting PDF documents</li>
        <li>login pages</li>
        <li>emails sent by gov.uk notify</li>
        <li>instruction pages on gov.uk</li>
	</ul>

    <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
    <p class="govuk-body long-link">
        We are keen to engage with users of this service and to continue to develop this application to meet the needs of our users. Performance of this application will be regularly assessed, and accessibility reviewed every 12 months in September.
		If you have any experience or information relating to the use of this, or a similar service, which would help us better meet the needs of our users, please email us at  <br />
        <a class="govuk-link" href="mailto:fellinglicenceonline@forestrycommission.gov.uk">fellinglicenceonline@forestrycommission.gov.uk</a>
    </p>

</div>