@{
    ViewData["Title"] = "Apply for a tree felling licence in England";
}

<div class="govuk-grid-column-full">
    @await Html.PartialAsync("_PreApplicationGuidanceContents")
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    
    <noscript>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Javascript is required to use this service. Please enable Javascript in your browser settings to continue.
            </strong>
        </div>
        
        <p class="govuk-body">If you cannot enable Javascript, you can apply for a tree felling licence by contacting us using the details at the bottom of this page.</p>
    </noscript>

    <p class="govuk-body">
        Use this service to apply for a tree felling licence in England. 
    </p>
    <p class="govuk-body">
        You’ll need a licence if you plan to fell trees on any land in England. This ensures that tree felling complies with legal and environmental guidelines.
    </p>
    <p class="govuk-body">
        If you have an <a asp-action="WhenYouDoNotNeedALicence">exception</a>, you do not need a licence.
    </p>
    
    <h1 class="govuk-heading-m">Who can use this service</h1>
    <p class="govuk-body">
        This service is for individuals or organisations who:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>own or manage land where tree felling is planned</li>
        <li>have authority to carry out tree felling activities</li>
    </ul>
    
    <h1 class="govuk-heading-m">What you’ll need</h1>
    <p class="govuk-body">
        To complete the application you’ll need:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>to map the location of the trees</li>
        <li>details of the trees you want to fell, including species and number</li>
        <li>consent or permission from relevant authorities, if applicable</li>
    </ul>
    
    <h1 class="govuk-heading-m">How long it takes</h1>
    <p class="govuk-body">
        The application process takes around 10 to 12 weeks. You’ll receive a decision once all checks and consultations are complete.
    </p>
    
    <h1 class="govuk-heading-m">Licence duration</h1>
    <p class="govuk-body">
        Felling licences are typically valid for up to 5 years.
    </p>
    <p class="govuk-body">
        Licences linked to a <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/guidance/create-a-woodland-management-plan">Forestry Commission approved woodland management plan</a> can last up to 10 years.
    </p>
        
    <h1 class="govuk-heading-m">Cost</h1>
    <p class="govuk-body">
        Applying for a tree felling licence is free.
    </p>
    
    <h1 class="govuk-heading-m">Before you start</h1>
    <p class="govuk-body">
        Before you apply make sure:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>you have permission from the landowner (if you are not the owner)</li>
        <li>your proposed felling aligns with legal requirements and conservation guidelines</li>
    </ul>
    
    <p class="govuk-body">
        You'll need to sign in or create an account to use the service. If you had an account with the old Felling
        Licence Online (FLO) system, you'll still need to create a new account.
    </p>
    
    <p class="govuk-body">
        On the next page, you'll choose whether to sign in or create an account.
    </p>

    <a asp-controller="Home" asp-action="AccountHolderConfirmation" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
    </a>

    <h1 class="govuk-heading-m">Other ways to apply</h1>
    <p class="govuk-body">
        If you cannot apply online you can request a paper application by:
    </p>
    
    <h1 class="govuk-heading-s">Phone</h1>
    <p class="govuk-body">
        Phone: 0300 067 5155 <br/>
        Textphone: 020 234 4567 <br/>
        Monday to Friday, 9am to 5pm (except public holidays) <br/>
        <br/>
        <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>
    
    <h1 class="govuk-heading-s">Email</h1>
    <p class="govuk-body">
        <a href="mailto:fellinglicenceonline@forestrycommission.gov.uk" class="govuk-link">fellinglicenceonline@forestrycommission.gov.uk</a>
    </p>
    
    <h1 class="govuk-heading-s">Post</h1>
    <p class="govuk-body">
        Forestry Commission<br />
        620 Bristol Business Park<br />
        Bristol<br />
        BS16 1EJ<br />
    </p>
        
    <hr class="govuk-section-break govuk-section-break--visible">
    
    <nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
        <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" asp-action="LicenceConditions" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                </span>
                <span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">Licence conditions</span>
            </a>
        </div>
        <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" asp-action="FellingAndRestockingDefinitions" rel="next">
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">Felling and restocking definitions</span>
            </a>
        </div>
    </nav>
</div>