@{
    ViewData["Title"] = "Felling and restocking operations";
}

<div class="govuk-grid-column-two-thirds">
@await Html.PartialAsync("_PreApplicationGuidanceContents")
<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<p class="govuk-body">
    Understand the definitions of tree felling and restocking for the Forestry Commission felling licence application.
</p>
<p class="govuk-body">
    Find out what counts as felling and your responsibilities for replanting.
</p>

<h1 class="govuk-heading-l">Felling operations</h1>

<div class="govuk-accordion" data-module="govuk-accordion" id="clear-felling-accordion">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="clear-felling-accordion-heading-1">
                    Clear felling
                </span>
            </h2>
        </div>
        <div id="clear-felling-accordion-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
                Clear felling involves removing most or all trees in a specific area of woodland in a single operation.
                In rare cases, this could include the entire woodland. Some trees may be left standing within the area, either scattered or in small clumps.
            </p>
            <p class="govuk-body">
                You’ll usually need to re-establish woodland cover on the felled area.
                This is often done with similar tree species but may involve a different mix of trees.
                For example, on Plantations on Ancient Woodland Sites (PAWS), conifers may be replaced with broadleaves.
                Restocking can also take place in one or more agreed alternative locations.
            </p>
            <p class="govuk-body">
                You’ll need a felling licence for this activity if the tree trunk is 8cm or more in diameter when measured 1.3 metres from the ground,
                unless an exemption applies.
            </p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="coppicing-accordion-heading-1">
                    Coppicing
                </span>
            </h2>
        </div>
        <div id="coppicing-accordion-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
                Coppicing involves cutting some or all woody stems from a coppice stool to encourage new growth.
            </p>
            <p class="govuk-body">
                If you’re felling a single-stem tree for the first time to create coppice,
                this falls under another type of felling.
            </p>
            <p class="govuk-body">
                Coppice areas usually restock naturally through ‘coppice regrowth’.
                If regrowth fails, you may need to restock the area by planting.
            </p>
            <p class="govuk-body">
                You’ll need a felling licence if the woody stems being removed are individually more than 15cm in diameter,
                measured 1.3 metres from the ground, unless an exception applies.
            </p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="individual-trees-accordion-heading-1">
                    Individual trees (including trees within hedgerows)
                </span>
            </h2>
        </div>
        <div id="individual-trees-accordion-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
                This involves cutting down specific trees, such as parkland trees, hedgerow trees, or other individually selected trees.
            </p>
            <p class="govuk-body">
                You’ll usually need to restock or allow the trees to regenerate.
                A felling licence is required if the tree trunk is 8cm or more in diameter when measured 1.3 metres above the ground,
                unless an exemption applies.
            </p>
            <p class="govuk-body">
                <b>You have a quarterly allowance</b><br/>
                You can cut up to 5 cubic metres of timber on your property every 3 months without a licence,
                as long as you don’t sell more than 2 cubic metres.
            </p>
            <p class="govuk-body">
                    Learn <a class="govuk-link" href="https://assets.publishing.service.gov.uk/media/5d5d6d55ed915d08d2549866/TimberVolumeCalculator.pdf">how to calculate timber volumes</a>.
            </p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="regeneration-felling-accordion-heading-1">
                    Regeneration felling
                </span>
            </h2>
        </div>
        <div id="regeneration-felling-accordion-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
                Regeneration felling involves removing selected dominant canopy trees to encourage the growth of sub-canopy natural regeneration or under-planted trees,
                while retaining some of the dominant woodland canopy.
            </p>
            <p class="govuk-body">
                This approach increases age class, structure, and species diversity in woodlands.
                It supports restocking in various woodland management systems.
            </p>
            <p class="govuk-body">
                Uniform shelterwood <br/>
                Opening the canopy evenly and gradually to promote regeneration and establish a new stand.
            </p>
            <p class="govuk-body">
                Group shelterwood <br/>
                Opening the canopy in groups and expanding them over time to develop regeneration and establish a new stand.
            </p>
            <p class="govuk-body">
                Irregular shelterwood <br/>
                Opening the canopy irregularly to promote regeneration and achieve a new stand.
            </p>
            <p class="govuk-body">
                Selection system <br/>
                The selection system is a continuous process of felling and regenerating trees across a woodland.
                This can be done in 2 ways:
                <ul class="govuk-list govuk-list--bullet">
                    <li>Group selection when small groups of trees (less than 0.25 hectares) are felled to create gaps for regeneration or replanting</li>
                    <li>Single tree selection when Individual trees are felled, creating space for natural regeneration and the growth of surrounding trees</li>
                </ul>
            </p>
            <p class="govuk-body">
                Restocking is mainly achieved through natural regeneration.
                Replanting may be needed if natural regeneration does not meet the required stocking density or species mix,
                or if it fails altogether.
            </p>
            <p class="govuk-body">
                You’ll need a felling licence for this activity if the tree trunks are 8cm or more in diameter when measured 1.3 metres from the ground,
                unless an exemption applies.
            </p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="thinning-accordion-heading-1">
                    Thinning
                </span>
            </h2>
        </div>
        <div id="thinning-accordion-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
                Thinning involves selectively felling trees evenly across a woodland to adjust density or species composition.
                This promotes the growth and value of the remaining trees.
            </p>
            <p class="govuk-body">
                For broadleaf woodlands, thinning is usually done every 10 years.
                For conifer woodlands, it’s usually done every 5 years.
                Gaps in the canopy are expected to close within the thinning cycle.
            </p>
            <p class="govuk-body">
                A thinning operation usually removes no more than 30% of the total number of trees or the original canopy cover in a single operation.
                The exact number of trees to be removed will vary depending on the woodland and should be calculated carefully to maintain good forestry practice.
                These percentages are guidelines, not strict limits.
            </p>
            <p class="govuk-body">
                Thinning does not require restocking.
                You’ll need a felling licence for thinning if tree trunks are 10cm or more in diameter when measured 1.3 metres from the ground,
                unless an exemption applies.
            </p>
        </div>
    </div>
</div>

<h1 class="govuk-heading-l">Restocking operations</h1>

<div class="govuk-accordion" data-module="govuk-accordion" id="restocking-accordion">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="coppice-regrowth-accordion-heading-1">
                    Coppice regrowth
                </span>
            </h2>
        </div>
        <div id="coppice-regrowth-accordion-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
                Coppice regrowth is the growth of new stems from a coppice stool.
                This usually happens after removing some or all the growing stems from an existing coppice stool,
                or after felling a single-stemmed tree for the first time to create coppice.
            </p>
            <p class="govuk-body">
                For successful regrowth, the tree must be a suitable species and age for coppicing.
                If coppice regrowth doesn't establish, you’ll usually need to replant the felled area.
            </p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="create-open-space-accordion-heading-1">
                    Create open space
                </span>
            </h2>
        </div>
        <div id="create-open-space-accordion-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
                Felling trees within a woodland to create permanent open space can benefit the woodland by forming rides, glades, tracks, or forest roads.
            </p>
            <p class="govuk-body">
                The open space must improve the structural diversity within the woodland,
                create new internal woodland habitats, and enhance the overall condition of the woodland.
            </p>
            <p class="govuk-body">
                In woodlands up to 10 hectares, open spaces can be no larger than 0.5 hectares and must not exceed 10% of the total woodland area.
                In woodlands over 10 hectares, larger open spaces may be allowed for specific purposes,
                but total open space must not exceed 20% of the woodland area.
            </p>
            <p class="govuk-body">
                Open space remains part of the woodland, so restocking is not needed.
                This type of felling is not considered deforestation unless there is a change in land use.
            </p>
            <p class="govuk-body">
                You’ll need a felling licence for this activity if tree trunks are 8cm or more in diameter when measured 1.3 metres from the ground,
                unless an exemption applies.
            </p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="natural-colonisation-accordion-heading-1">
                    Natural colonisation
                </span>
            </h2>
        </div>
        <div id="natural-colonisation-accordion-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
                Natural colonisation is the establishment of tree cover on previously unwooded sites through natural processes.
            </p>
            <p class="govuk-body">
                This can happen through:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>natural seed fall</li>
                <li>seed dispersal by wind, birds, or mammals</li>
                <li>vegetative suckering, where new growth forms from the stem or roots of nearby trees</li>
            </ul>
            <p class="govuk-body">
                It can include enrichment planting of individual trees or sowing of seeds to enhance the species diversity of the woodland.
            </p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="natural-regeneration-accordion-heading-1">
                    Natural regeneration
                </span>
            </h2>
        </div>
        <div id="natural-regeneration-accordion-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
                Restock the felled area through natural regeneration
                The re-establishment of tree cover on previously wooded sites using natural processes.
            </p>
            <p class="govuk-body">
                This can happen through:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>natural seed fall</li>
                <li>seed dispersal by wind, birds, or mammals</li>
                <li>vegetative suckering, where new growth forms from the stem or roots of nearby trees</li>
            </ul>
            <p class="govuk-body">
                It can include enrichment planting of individual trees or sowing of seeds to enhance the species diversity of the woodland.
            </p>
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="establishing-new-trees-accordion-heading-1">
                    Establishing new trees in a different location
                </span>
            </h2>
        </div>
        <div id="establishing-new-trees-accordion-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
                New trees can be established in an agreed location away from the felled area.
                This can involve planting seeds, saplings, or young trees.
                In some cases, natural colonisation may be used.
            </p>
        </div>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible">

<nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
    <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" asp-action="ApplyForALicence" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
            </span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Apply for a felling licence</span>
        </a>
    </div>
</nav>
</div>