<div id="api" class="govuk-form-group"></div>
@section scripts {
    <script defer>
    
        //note: this is (almost) identical to the previous Login.cshtml and will be used until a forgotten password flow design is specified
         
        $(function () {
            $("body").addClass("govuk-template__body");
            $("html").addClass("govuk-template");
            $(".localAccount").addClass("govuk-grid-column-two-thirds");
            $("#attributeVerification").addClass("govuk-grid-column-two-thirds");
            $(".heading h1").addClass("govuk-heading-l");
            $(".intro h2").addClass("govuk-hint");
            $(".intro p").addClass("govuk-hint");
            $(".divider h2").addClass("govuk-hint");
            $(".entry-item").addClass("govuk-form-group");
            $(".entry label").addClass("govuk-label");
            $(".error").addClass("govuk-error-message");
            $(".entry-item input").addClass("govuk-input");
            $(".entry-item a").addClass("govuk-link govuk-body");
            $(".create").addClass("govuk-form-group");
            $(".create a").addClass("govuk-link sign-up-link govuk-body");
            $(".create p").addClass("govuk-body");
            $(".buttons").addClass("govuk-button-group");
            $(".buttons button").addClass("govuk-button");
            $(".buttons button#cancel").addClass("govuk-button--secondary");
            $(".attrEntry").addClass("govuk-form-group");
            $(".attrEntry label").addClass("govuk-label");
            $(".attrEntry input").addClass("govuk-input");

            $(".intro").hide();
            $(".divider").hide();
            $(".govuk-cookie-banner").hide();
            $("#continue").hide();
        });


        $(document).ready(function () {
            if (~$(location).attr('href').indexOf("claimsexchange=ForgotPassword") || ~$(location).attr('href').indexOf("local=signup")) {
                $('.newPassword_li').hide();
                $('.reenterPassword_li').hide();

            }

            function createErrorSummary() {
                if ($(".govuk-error-summary").length === 0) {
                    $('#api').before('<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary"> <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem </h2> <div class="govuk-error-summary__body"> <ul class="govuk-list govuk-error-summary__list">  </ul> </div></div>');
                }
            }

            function removeErrorSummary() {
                $('.govuk-error-summary').remove();
                $('.govuk-form-group--error').removeClass("govuk-form-group--error");
            }

            // Function to observe changes using MutationObserver
            function observeMutations(selector, callback) {
                const targetNode = document.querySelector(selector);
                if (targetNode) {
                    const config = { characterData: true, childList: true, subtree: true };
                    const observer = new MutationObserver((mutations) => {
                        mutations.forEach((mutation) => {
                            if (mutation.type === 'childList' || mutation.type === 'characterData') {
                                callback(mutation.target);
                            }
                        });
                    });
                    observer.observe(targetNode, config);
                }
            }

            observeMutations('.error p', (target) => {
                const errorText = $(target).text();

                if (errorText === "We can't seem to find your account") {
                    createErrorSummary();
                    $(target).text("Your details are incorrect");
                    addError("Your details are incorrect", "#email,#password");
                }

                if (errorText === "Your password is incorrect") {
                    createErrorSummary();
                    $(target).text("Your details are incorrect");
                    addError("Your details are incorrect", "#email,#password");
                }

                if (errorText === "Your account is temporarily locked to prevent unauthorized use. Try again later.") {
                    createErrorSummary();
                    $(target).text("Your account is temporarily locked. Try again later or visit the Forgot your password? page.");
                    addError("Your account is temporarily locked. Try again later or visit the Forgot your password? page.", "#email,#password");
                }
            });

            observeMutations('.verificationErrorText div', (target) => {
                const errorText = $(target).text();

                if (errorText === "The verification has failed, try again.") {
                    createErrorSummary();
                    addError("The verification has failed, try again.", "#emailVerificationCode");
                }

                if (errorText === "You have exceeded maximum number of verification attempts.") {
                    createErrorSummary();
                    addError("You have exceeded maximum number of verification attempts.", "#emailVerificationCode");
                }
            });

            observeMutations('.verificationSuccessText div', (target) => {
                const successText = $(target).text();

                if (successText === "Verification code has been sent to your inbox. Please copy it to the input box below.") {
                    $(target).text("Verification code has been sent to your inbox, this may take a couple of minutes. Copy it to the input box below.");
                    $(target).addClass("govuk-body");
                }

                if (successText === "E-mail address verified. You can now continue.") {
                    if (~$(location).attr('href').indexOf("ForgotPassword")) {
                        $('#continue').click();
                    }
                    $('.emailVerificationControl_li').hide();

                    $('#emailVerificationControl_success_message').addClass("govuk-body");

                    $('.intro').html('<p class="govuk-body"><p class="govuk-body">Passwords must be between 8 and 64 characters and have at least 3 of the following:</p><ol class="govuk-list govuk-list--bullet"><li>A lowercase letter (for example a, b, c,)</li><li>An uppercase letter (for example A, B, C)</li><li>A digit (for example 1, 2, 3,)</li><li>A symbol (for example &amp;?!)</li></ol></p>');
                    $('.intro').show();

                    $('.newPassword_li').show();
                    $('.reenterPassword_li').show();

                    $('#continue').show();
                }
            });

            if (~$(location).attr('href').indexOf("confirmed")) {
                $('#continue').show();
            }

            $(".govuk-input[type='email'").prop("placeholder", "Email address");
            $(".govuk-label[for='email']").text("Email address");
            $("#emailVerificationCode").prop("placeholder", "Verification code");
            $("#emailVerificationCode_label").text("Verification code");
            $("#newPassword").prop("placeholder", "New password");
            $("#newPassword_label").text("New password");
            $("#reenterPassword").prop("placeholder", "Confirm new password");
            $("#reenterPassword_label").text("Confirm new password");

            function clearCurrentErrors() {
                $('.error p').each(function() {
                    $(this).text("");
                });
            }

            function addError(errorText, causedBy) {
                if ($('.govuk-list.govuk-error-summary__list li').length === 0) {
                    if ($(causedBy).is(":visible")) {
                        $(causedBy).parent().addClass("govuk-form-group--error");
                        $(causedBy).parent().children('.error').text(errorText);
                        $(causedBy).parent().children('.error').removeAttr('role');
                        $('.govuk-error-summary__list').append('<li> <a href="' + causedBy + '">' + errorText + '</a> </li>');
                    }
                }
                else {
                    let found = false;

                    $('.govuk-error-summary__list li').each(function (id, elem) {
                        if ($(elem).innerText === errorText) {
                            console.log("2: " + $(elem).text());
                            found = true;
                        }
                    });

                    if (found) {
                        return;
                    }
                    else {
                        if ($(causedBy).is(":visible")) {
                            $(causedBy).parent().addClass("govuk-form-group--error");
                            $(causedBy).parent().children('.error').text(errorText);
                            $(causedBy).parent().children('.error').removeAttr('role');
                            $('.govuk-error-summary__list').append('<li> <a href="' + causedBy + '">' + errorText + '</a> </li>');
                        }
                    }
                }
            }

            function makeErrorsMoreDescriptive() {
                if ($("div > div", ".email_li").text() === "This information is required.") {
                    $("div > div", ".email_li").text("Enter your email address, like name@example.com");
                }

                if ($("div > div", ".emailVerificationCode_li").text() === "This information is required.") {
                    $("div > div", ".emailVerificationCode_li").text("Enter the verification code sent to the email address you have specified");
                }

                if ($("div > div", ".newPassword_li").text() === "This information is required.") {
                    $("div > div", ".newPassword_li").text("Enter a new password");
                }

                if ($("div > div", ".newPassword_li").text() === "The password must not begin or end with a whitespace character.") {
                    $("div > div", ".newPassword_li").text("The password must not begin or end with a space/spaces");
                }

                if ($("div > div", ".reenterPassword_li").text() === "This information is required.") {
                    $("div > div", ".reenterPassword_li").text("Enter a confirm new password");
                }

                if ($("div > div", ".reenterPassword_li").text() === "The password must not begin or end with a whitespace character.") {
                    $("div > div", ".reenterPassword_li").text("The password must not begin or end with a space/spaces");
                }

            }

            $('.govuk-button:not(#cancel)').click(function () {
                removeErrorSummary();
                makeErrorsMoreDescriptive();

                if ($('#email').val().length === 0) {
                    createErrorSummary();
                    addError("Enter your email address", "#email");
                    $('#email');
                } else if (!validateEmail($('#email').val())) {
                    createErrorSummary();
                    addError("Enter an email address in the correct format, like name@example.com ", "#email");
                }

                if ($('#emailVerificationCode').length && $("div > div", ".emailVerificationCode_li").text() === "Enter the verification code sent to the email address you have specified" && $('.emailVerificationCode_li').is(":visible")) {
                    createErrorSummary();
                    addError("Enter the verification code sent to the email address you have specified", "#emailVerificationCode");
                }

                if ($('#password').length) {
                    if ($('#password').val().length === 0) {
                        createErrorSummary();
                        addError("Enter your password", "#password");
                    }
                }

                if ($(this).is('#continue')) {
                    if ($('#newPassword').length) {
                        if ($('#newPassword').val().length === 0) {
                            createErrorSummary();
                            addError("Enter your new password", "#newPassword");
                        } else if ($('#newPassword').val().length < 8 || $('#newPassword').val().length > 64) {
                            createErrorSummary();
                            addError("The new password must be between 8 and 64 characters", "#newPassword");
                        }
                        if (!pwCheck($('#newPassword').val())) {
                            createErrorSummary();
                            addError("The new password must meet complexity requirements", "#newPassword");
                        }
                        if ($('#newPassword').val().startsWith(' ') || $('#newPassword').val().endsWith(' ')) {
                            createErrorSummary();
                            addError("The new password must not begin or end with a space/spaces", "#newPassword");
                        }
                    }

                    if ($('#reenterPassword').length) {
                        if ($('#reenterPassword').val().length === 0) {
                            createErrorSummary();
                            addError("Enter your confirm new password", "#reenterPassword")
                        } else if ($('#reenterPassword').val().length < 8 || $('#reenterPassword').val().length > 64) {
                            createErrorSummary();
                            addError("The confirm new password must be between 8 and 64 characters", "#reenterPassword");
                        }
                        if (!pwCheck($('#reenterPassword').val())) {
                            createErrorSummary();
                            addError("The confirm new password must meet complexity requirements", "#reenterPassword");
                        }
                        if ($('#reenterPassword').val().startsWith(' ') || $('#reenterPassword').val().endsWith(' ')) {
                            createErrorSummary();
                            addError("The confirm new password must not begin or end with a space/spaces", "#reenterPassword");
                        }
                    }
                }



                if ($('#newPassword').val() !== $('#reenterPassword').val()) {
                    createErrorSummary();
                    addError("The password entry fields do not match. Enter the same password in both fields and try again.", "#newPassword");
                }

            });

            function validateEmail(email) {
                var emailReg = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return emailReg.test(email);
            }

            function pwCheck(pw) {
                var criteria = 0;
                if (pw.toUpperCase() !== pw) {
                    // has lower case letters
                    criteria++;
                }
                if (pw.toLowerCase() !== pw) {
                    // has upper case letters
                    criteria++;
                }
                if (/^[a-zA-Z0-9]*$/.test(pw) === false) {
                    // has special characters
                    criteria++;
                }
                if (/\d/.test(pw) === true) {
                    // has numbers
                    criteria++;
                }
                // returns true if 3 or more criteria was met and length is appropriate
                return (criteria >= 3);
            }
        });
    
    </script>
}
