@{
    ViewData["Title"] = "What you need to know";
}

<div class="govuk-grid-column-two-thirds">
    @await Html.PartialAsync("_PreApplicationGuidanceContents")
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <p class="govuk-body">
        You may need a felling licence to cut down trees in England, but there are some exceptions. 
        Licences are issued by the Forestry Commission to ensure tree felling complies with national regulations and protects the environment.
    </p>
    
    <p class="govuk-body">
        This guide explains when you need a licence, when you do not, the types of licences available, and how to apply.
    </p>
    
    <hr class="govuk-section-break govuk-section-break--visible">
    
    <nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
        <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" asp-action="WhenYouNeedALicence" rel="next">
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">When you need a felling licence</span>
            </a>
        </div>
    </nav>

</div>