@using Forestry.Flo.External.Web.Infrastructure
@{
    ViewData["Title"] = "Privacy policy";
    ViewData.ShowBackLink(BackLinkType.Close);
}

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
    
    <h2 class="govuk-heading-l">How we use your personal information</h2>

    <p class="govuk-body">
        When you use the Apply for a tree felling licence service, the personal
        information you provide will be held by the Forestry Commission.
    </p>
    <p class="govuk-body">
        We use your information to:
        <ul class="govuk-list govuk-list--bullet">
            <li>process your felling licence application</li>
            <li>make sure any permission granted meets the requirements of the Forestry Act 1967 and associated regulations</li>
        </ul>
    </p>
    <p class="govuk-body">        
        If you do not provide the required information, we will not be able to process your application.
    </p>
    <p class="govuk-body">
        Providing accurate and complete information helps ensure that any felling licence issued is lawful and valid.
    </p>

    <h2 class="govuk-heading-l">Sharing your information</h2>
    <p class="govuk-body">
        Your information may be shared with third-party suppliers where this is necessary to deliver and operate the service.
    </p>
    <p class="govuk-body">
        All personal information is processed in line with current data protection legislation.
    </p>

    <h2 class="govuk-heading-l">How long we keep your information</h2>
    <p class="govuk-body">
        We will keep your information:
        <ul class="govuk-list govuk-list--bullet">
            <li>for the period that your felling licence is valid</li>
            <li>for conditional licences, for as long as needed to cover any conditions attached to the licence</li>
        </ul>
    </p>
    
    <h2 class="govuk-heading-l">Your data protection rights</h2>
    <p class="govuk-body">
        The Forestry Commission’s Personal Information Charter explains how we collect, use and protect personal data.
    </p>
    <p class="govuk-body long-link">
        You can read the charter on GOV.UK: <br/>
        <a class="govuk-link long-link" href="https://www.gov.uk/government/organisations/forestry-commission/about/personal-information-charter" target="_blank" rel="noreferrer noopener">
            https://www.gov.uk/government/organisations/forestry-commission/about/personal-information-charter (opens in new tab)
        </a>
    </p>
    <p class="govuk-body">
        The Forestry Commission is registered as a data controller under the Data Protection Act 1998 (registration number Z6542658).
    </p>
    
    <h2 class="govuk-heading-l">Contacting us about your information</h2>
    <p class="govuk-body long-link">
        The Forestry Commission’s Data Protection Officer can be contacted at: <br />
        <a class="govuk-link" href="mailto:informationrights@forestrycommission.gov.uk">informationrights@forestrycommission.gov.uk</a>
    </p>
    
    <h2 class="govuk-heading-l">Customer surveys</h2>
    <p class="govuk-body">
        The Forestry Commission may contact you about your experience of applying for a felling licence as part of a customer survey.
    </p>
    <p class="govuk-body">
        Taking part in any survey is optional, and you do not have to respond.
    </p>
</div>