@using Forestry.Flo.External.Web.Infrastructure
@{
    ViewData["Title"] = "Get help";
    ViewData.ShowBackLink(BackLinkType.Close);
}

<div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

    <p class="govuk-body">
        This is a new service and we're still adding features. Your <a target="_blank" rel="noreferrer noopener" href="https://forms.office.com/e/3jqkczV1Am">feedback</a> will help us improve it.
    </p>

    <p class="govuk-body">Contact us if:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>you need a paper application form (for example, if you cannot access the internet)</li>
        <li>you have a disability or condition that makes it hard to use the online service</li>
        <li>you need help using the service</li>
    </ul>

    <h2 class="govuk-heading-m">Phone</h2>
    <p class="govuk-body">
        Phone: 0300 067 4420 <br />
        Monday to Friday, 9am to 5pm (except public holidays) <br />
        <br />
        <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>

    <h2 class="govuk-heading-m">Email</h2>
    <p class="govuk-body long-link">
        <a class="govuk-link" href="mailto:fellinglicenceonline@forestrycommission.gov.uk">fellinglicenceonline@forestrycommission.gov.uk</a>
    </p>

    <h2 class="govuk-heading-m">Post</h2>
    <p class="govuk-body">
        Forestry Commission <br />
        620 Bristol Business Park <br />
        Bristol <br />
        BS16 1EJ
	</p>

</div>