@using Forestry.Flo.External.Web.Infrastructure
@model Forestry.Flo.External.Web.Models.UserAccount.UserAccountModel

@{
    ViewData["Title"] = "Terms and conditions for using the Apply for a tree felling licence service";
    ViewData.ShowBackLink(BackLinkType.Close);
}

<div class="govuk-grid-column-two-thirds govuk-body">

    <h1 class="govuk-heading-xl">
        @ViewData["Title"]
    </h1>

    <h2 class="govuk-heading-l">Using this service</h2>
    <p class="govuk-body">
        When you register for Apply for a tree felling licence and accept these terms 
        and conditions, you become a registered user.
    </p>
    <p class="govuk-body">
        These terms apply from the date you first accept them.
    </p>
    <p class="govuk-body">
        If you do not accept these terms, you cannot use this service to apply for a 
        tree felling licence.
    </p>
        
    <h2 class="govuk-heading-l">Changes to these terms</h2>
    <p class="govuk-body">
        The Forestry Commission may update these terms and conditions.
    </p>
    <p class="govuk-body">
        If changes are made:
        <ul class="govuk-list govuk-list--bullet">
            <li>we will email registered us</li>
            <li>the updated terms will be published on the Apply for a tree felling licence GOV.UK page</li>
        </ul>
    </p>
    <p class="govuk-body">
        By continuing to use the service after changes take effect, you agree to the updated terms.
    </p>
        
    <h2 class="govuk-heading-l">How we use your information</h2>
    <p class="govuk-body">
        The Forestry Commission will keep a record of the information you provide when using this service.
    </p>
    <p class="govuk-body">
        Your information may be used within the Forestry Commission and shared 
        with other appropriate government, regulatory or professional bodies where 
        necessary. This includes, but is not limited to:
        <ul class="govuk-list govuk-list--bullet">
            <li>Defra (Department for Environment, Food & Rural Affairs)</li>
            <li>Natural England</li>
            <li>Historic England</li>
            <li>the Environment Agency</li>
            <li>the Institute of Chartered Foresters</li>
        </ul>
    </p>
    <p class="govuk-body">
        We may also share information with third parties where required by law.
    </p>
    
    <h2 class="govuk-heading-l">Felling licence compliance enforcement</h2>
    <p class="govuk-body">
        If the conditions of a felling licence are not met, the Forestry Commission may 
        take enforcement action under section 24 of the Forestry Act 1967. This may 
        apply to the current owner or any subsequent owner.
    </p>
    <p class="govuk-body">
        The Forestry Commission may reproduce or publish information from your 
        application where it relates to enforcement action.
    </p>
    
    <h2 class="govuk-heading-l">Your responsibility for information you provide</h2>
    <p class="govuk-body">
        You are responsible for all information and material you submit through this 
        service.
    </p>
    <p class="govuk-body">
        By submitting information, you confirm that:
        <ul class="govuk-list govuk-list--bullet">
            <li>it is appropriate for processing a felling licence application under the Forestry Act 1967</li>
            <li>it is your own work, or you have the right to provide it</li>
            <li>any personal data you provide complies with current data protection legislation</li>
            <li>you will update information if you become aware it is inaccurate</li>
        </ul>
    </p>
    
    <h2 class="govuk-heading-l">Liability and indemnity</h2>
    <p class="govuk-body">
        You agree to indemnify the Forestry Commission, its staff, agents and 
        contractors against any costs, claims, losses or legal expenses arising from:
        <ul class="govuk-list govuk-list--bullet">
            <li>your breach of these terms</li>
            <li>actions taken by you, or by anyone acting on your behalf, when using this service</li>
        </ul>
    </p>
    
    <h2 class="govuk-heading-l">Limits in our liability</h2>
    <p class="govuk-body">
        The Forestry Commission and other relevant public bodies are not liable for:
        <ul class="govuk-list govuk-list--bullet">
            <li>indirect or consequential losses</li>
            <li>loss of data, profits or use of the service</li>
        </ul>
    </p>
    <p class="govuk-body">
        This includes losses arising from the use of, or inability to use, the service, 
        whether the claim is based on contract, negligence or another legal basis.
    </p>
    
    <h2 class="govuk-heading-l">Service availability</h2>
    <p class="govuk-body">
        The Forestry Commission does not guarantee that:
        <ul class="govuk-list govuk-list--bullet">
            <li>the service will always be available or uninterrupted</li>
            <li>the service will be error-free</li>
            <li>faults will be corrected</li>
            <li>the system will be free from viruses or technical issues</li>
        </ul>
    </p>
    <p class="govuk-body">
        Information provided through the service may not always be complete, 
        accurate or up to date.
    </p>
    
    <h2 class="govuk-heading-l">Keeping your account secure</h2>
    <p class="govuk-body">
        You must keep your username and password secure and not share them with 
        anyone else.
    </p>
    <p class="govuk-body">
        You are responsible for all activity carried out using your login details.
    </p>
</div>