@using Forestry.Flo.External.Web.Infrastructure
@model Forestry.Flo.External.Web.Models.UserAccount.UserAccountModel

@{
    ViewData["Title"] = "Apply for a felling licence: terms and conditions or use";
    ViewData.ShowBackLink(BackLinkType.Close);
}

<div class="govuk-grid-column-full govuk-body">

    <h1 class="govuk-heading-xl">
        @ViewData["Title"]
    </h1>

    <p>By registering for Apply for a Felling Licence as either a Land Owner or Agent and agreeing to the following Terms and Conditions, you are deemed to be a 'registered user'.</p>
    <h2 class="govuk">Warranties</h2>
    <p>The registered user undertakes to keep secure from third parties any password issued by Apply for a Felling Licence.</p>

    <h2 class="govuk-heading-l">Terms and conditions</h2>
    <p>Use of Apply for a Felling Licence establishes the user's acceptance of these terms and conditions, which take effect on the date on which the user first registers for Apply for a Felling Licence. The Forestry Commission reserves the right to change the terms and conditions at any time by posting changes online. The user is responsible for regularly reviewing information posted online to obtain timely notice of such changes. Continued use of Apply for a Felling Licence after changes are posted establishes the user's acceptance of this amended Agreement as modified by the posted changes.</p>
    <p>If these terms and conditions are not accepted in full, the user does not have permission to access Apply for a Felling Licence and must therefore stop the new user registration process immediately and must contact the Forestry Commission.</p>
    <p>The Forestry Commission will keep a digital record of information provided by the user. Any information provided to the Forestry Commission will be used within the Forestry Commission and could be shared with other appropriate government, regulatory, or professional bodies, such as, but not limited to, Defra (Department for Environment Food & Rural Affairs), Natural England, Historic England, Environment Agency, and Institute of Chartered Foresters. The Forestry Commission may need to provide information to third parties if there is an obligation by law to disclose such information.</p>
    <p>Should it be necessary to serve you, or any subsequent owner of the land, with a notice under section 24 of the Forestry Act 1967, the Forestry Commission may publish the digitised data you have provided as part of your felling licence application, to the extent that it relates to the subsequent notice. Principally, this will involve publishing the digitised map.</p>
    <p>The user hereby agrees fully to indemnify, keep indemnified, and hold harmless the Forestry Commission, its officers, employees, agents, sub-contractors, and affiliated companies from and against any and all costs, claims, losses, damages, or liabilities and expenses (including, but not limited to, legal fees) sustained or incurred by the Forestry Commission or any of its officers, employees, agents, sub-contractors, or affiliated companies directly or indirectly and in any jurisdiction as a result of any breach by the user or its employees or agents of any warranties contained in this Agreement.</p>
    <p>The Forestry Commission and its agents are not liable for any damages, including, without limitation, indirect or consequential damages, or any damages whatsoever arising from use or loss of use, data, or profits, whether in action of contract, negligence, or other tortious action, arising out of or in connection with registration on this system.</p>
    <p>The Forestry Commission does not warrant that the material held in this system will be uninterrupted or error-free, that defects will be corrected, or that the system or the server that makes it available is free of viruses or bugs, or represents the full functionality, accuracy, or reliability of the materials.</p>

    <h2 class="govuk-heading-l">Registered user - posting information to Apply for a felling licence</h2>
    <p>The registered user acknowledges and accepts sole responsibility, legal and otherwise, for the content of all material posted to Apply for a Felling Licence.</p>
    <p>The user permits, represents, and undertakes in relation to all material that:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            the material is appropriate and not inappropriate for the purposes of the Forestry Commission processing a Felling Licence Application and issuing a Felling Licence in accordance with the Forestry Act (1967)
        </li>
        <li>
            such contribution is the registered user’s own original work and that the user has the right to make it available to the Forestry Commission for the purposes specified above
        </li>
        <li>
            the Forestry Commission will be indemnified against all legal fees, damages, and other expenses that may be incurred by the Forestry Commission as a result of a user’s breach of this Agreement
        </li>
        <li>
            personal information provided is compliant with current data protection legislation and will be updated if the user becomes aware of inaccurate information being held by the Forestry Commission
        </li>
    </ul>

    <p></p>

</div>