@{
    ViewData["Title"] = "When you need a felling licence";
}

<div class="govuk-grid-column-two-thirds">

    @await Html.PartialAsync("_PreApplicationGuidanceContents")
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <p class="govuk-body">
        Find out when you need a felling licence to cut down trees in England, including rules for larger-scale felling, protected trees, and penalties.
    </p>
    
    
    <h1 class="govuk-heading-m">Tree felling</h1>
    <p class="govuk-body">
        You’ll need a felling licence to cut down trees on your property or elsewhere, unless specific exceptions apply. This applies to both individual trees and groups of trees.
    </p>
    
    <h1 class="govuk-heading-m">Exceeding volume limits</h1>
    <p class="govuk-body">
        You'll need a licence if you plan to fell more than 5 cubic metres of timber on your property within any of the following calendar quarters (unless an exception applies):
    </p>
    
    <ul class="govuk-list govuk-list--bullet">
        <li>1 January to 31 March</li>
        <li>1 April to 30 June</li>
        <li>1 July to 30 September</li>
        <li>1 October  to 31 December</li>
    </ul>
    <p class="govuk-body">
        You’ll also need a licence if you plan to sell more than 2 cubic metres of timber within any calendar quarter.
    </p>
    <p class="govuk-body">
        If you stay within these limits, you can cut without a licence. If you exceed them, you must obtain a licence
    </p>
    
    <h1 class="govuk-heading-m">Protected trees</h1>
    <p class="govuk-body">
        You'll need a licence if you plan to cut down trees that are located in a conservation area or are protected by a Tree Preservation Order (TPO).
        You may also need additional permissions from the local planning authority.
        The authority will guide you through the steps to obtain the necessary licences or permissions.
    </p>
    
    <h1 class="govuk-heading-m">Development projects without specific tree removal permission</h1>
    <p class="govuk-body">
        For development projects, you’ll  need a licence if full planning permission does not include tree removal.
        Planning permission must clearly state which trees can be removed for the project to proceed
    </p>
    
    <h1 class="govuk-heading-m">Large-diameter trees</h1>
    <p class="govuk-body">
        You'll need a licence if you plan to cut down trees with trunks larger than 8cm in diameter (measured at chest height), unless other exceptions apply.
        For larger trees, contact the Forestry Commission to confirm if a licence is necessary.
    </p>
    
    <hr class="govuk-section-break govuk-section-break--visible">
    
    <nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
        <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" asp-action="Index" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                </span>
                <span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">Cutting down trees in England</span>
            </a>
        </div>
        <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" asp-action="WhenYouDoNotNeedALicence" rel="next">
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">When you do not need a felling licence (exceptions)</span>
            </a>
        </div>
    </nav>
</div>