@{
    ViewData["Title"] = "When you do not need a felling licence (exceptions)";
}

<div class="govuk-grid-column-two-thirds">
    @await Html.PartialAsync("_PreApplicationGuidanceContents")
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    
    <p class="govuk-body">
        Find out when you can cut down trees in England without a felling licence. 
    </p>
    
    <p class="govuk-body">
        These exceptions may apply to private gardens, tree maintenance, safety work, small-scale felling, and certain development projects.
    </p>
    
    <h1 class="govuk-heading-m">Development work</h1>
    <p class="govuk-body">
        You can remove trees without a licence if they must be cut down for development work with full planning permission.
        The planning permission should either specify which trees you can remove or show that their removal is necessary to begin the project.
    </p>
    
    <h1 class="govuk-heading-m">Tree maintenance</h1>
    <p class="govuk-body">
        You do not need a felling licence for common tree maintenance activities such as lopping, topping, pruning, or pollarding.
        If they are located in a conservation area or are subject to a Tree Preservation Order, you’ll have to seek approval from the local authority.
    </p>
    
    <h1 class="govuk-heading-m">You’re within your quarterly tree cutting allowance</h1>
    <p class="govuk-body">
        You can cut up to 5 cubic metres of timber from your property every calendar quarter  without a licence, as long as you don’t sell more than 2 cubic metres.
    </p>
    <p class="govuk-body">
        The calendar quarters are:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>1 January to 31 March</li>
        <li>1 April to 30 June</li>
        <li>1 July to 30 September</li>
        <li>1 October  to 31 December</li>
    </ul>
    
    <h1 class="govuk-heading-m">Safety and legal reasons</h1>
    <p class="govuk-body">
        You do not need a licence to cut down trees if:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>the trees pose an immediate danger</li>
        <li>you must cut them down to follow a legal requirement</li>
        <li>you are doing public utility work (such as work for water, gas, or electricity services)</li>
        <li>Forestry Commission has directed you to remove trees to prevent the spread of disease</li>
    </ul>
    
    <h1 class="govuk-heading-m">Utility and infrastructure work</h1>
    <p class="govuk-body">
        Utility and infrastructure providers, such as those managing highways, railways, and canals,
        do not need a licence to remove trees that obstruct essential work, as long as the removal follows their legal duties.
    </p>
    
    <h1 class="govuk-heading-m">Tree location</h1>
    <p class="govuk-body">
        You do not need a licence for trees in private gardens, orchards, churchyards, or public open spaces like some parks.
        Fruit trees are also exempted.
    </p>
    
    <h1 class="govuk-heading-m">Tree size</h1>
    <p class="govuk-body">
        You do not need a licence for trees with trunks less than 8cm in diameter (measured at chest height).
        You may cut slightly larger trees without a licence if you are thinning (up to 10cm in diameter) or coppicing underwood (up to 15cm).
    </p>
    
    <div class="govuk-inset-text">
        <h1 class="govuk-heading-m">Record keeping</h1>
        <p class="govuk-body">
            If you claim any of these exceptions, you need to prove that they apply.
        </p>
        <p class="govuk-body">
            Keep records, including photos, maps, surveys, and permissions from relevant authorities.
            These records help support your claim if the Forestry Commission asks for evidence.
        </p>
        <p class="govuk-body">
            If you cannot produce records to prove your claim, you may be liable to prosecution.
        </p>
    </div>
    
    <hr class="govuk-section-break govuk-section-break--visible">
    
    <nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
        <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" asp-action="WhenYouNeedALicence" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                </span>
                <span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">When you need a felling licence</span>
            </a>
        </div>
        <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" asp-action="LicenceConditions" rel="next">
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">Licence conditions</span>
            </a>
        </div>
    </nav>
</div>