@using Forestry.Flo.External.Web.Infrastructure
@model Forestry.Flo.External.Web.Models.UserAccount.OrganisationWoodlandOwnerUserModel

@{
    ViewBag.Title = "Resend user invitation email";
    Layout = "_Layout";
}

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Resend woodland owner user invite email</h1>
    <partial name="Partials/_PageErrors" />

    <form method="post">
        <fieldset class="govuk-fieldset">
            <input type="hidden" asp-for="WoodlandOwnerId"/>
            <input type="hidden" asp-for="WoodlandOwnerName"/>
            <input type="hidden" asp-for="Name"/>
            <input type="hidden" asp-for="Email"/>
            <div class="govuk-form-group">
                <legend class="govuk-fieldset__legend">
                    An invitation email has already been sent to the provided email address. Select Continue to send another invitation email again.
                </legend>
            </div>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  @Model.Name
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  @Model.Email
                </dd>
              </div>
            </dl>
            <div class="govuk-form-group">
                 <div class="govuk-button-group">
                    <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a class="govuk-link" asp-controller="Home" asp-action="Index" title="Abandon changes and go to the home page">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs"/>
}