@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.External.Web.Models.UserAccount.AccountTypeViewModels
@model Forestry.Flo.External.Web.Models.UserAccount.AccountTypeViewModels.TenantTypeViewModel

@{
    ViewData["Title"] = "Are you a tenant on Crown Land?";
    ViewData.ShowBackLink();
}

<div class="govuk-grid-column-two-thirds">

    <form method="post">

        <govuk-form-group asp-for="TenantType">

            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        @ViewData["Title"]
                    </h1>
                </legend>

                <div class="govuk-hint">
                    Description of Crown Land
                </div>


                <validation asp-for="TenantType"></validation>

                <div class="govuk-radios" data-module="govuk-radios">

                    <div class="govuk-radios__item">

                        @Html.RadioButtonFor(x => x.TenantType, TenantType.CrownLand, new { @class = "govuk-radios__input", @id = "crown-land-trust" })

                        <label class="govuk-label govuk-radios__label" for="crown-land-trust">
                            Yes
                        </label>

                    </div>

                    <div class="govuk-radios__item">

                        @Html.RadioButtonFor(x => x.TenantType, TenantType.NonCrownLand, new { @class = "govuk-radios__input", @id = "non-crown-land-trust" })

                        <label class="govuk-label govuk-radios__label" for="non-crown-land-trust">
                            No
                        </label>

                    </div>

                </div>

            </fieldset>
        </govuk-form-group>

        <div class="govuk-form-group">

            <div class="govuk-button-group">

                <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>

            </div>

        </div>


    </form>

</div>