@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.External.Web.Infrastructure.Display
@model Forestry.Flo.External.Web.Models.UserAccount.UserAccountModel

@{
    ViewData["Title"] = "Terms and conditions";
    ViewData.ShowBackLink();
}


<div class="govuk-grid-column-full">
    
    <partial name="Partials/_PageErrors" />

    <form method="post">

        <fieldset class="govuk-fieldset" id="terms-and-conditions-fields">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    @ViewData["Title"]
                </h1>
            </legend>
            
            <p class="govuk-body">Confirm you accept the terms and conditions and privacy policy before you continue.</p>

            <div class="govuk-form-group">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input id="accept-terms-and-conditions" class="govuk-checkboxes__input" asp-for="AcceptsTermsAndConditions.AcceptsTermsAndConditions" type="checkbox">
                        <label for="accept-terms-and-conditions" class="govuk-label govuk-checkboxes__label" asp-for="AcceptsTermsAndConditions">
                            <a target="TermsAndConditions" class="govuk-link" rel="noreferrer noopener" aria-label="Open the terms and conditions" href="/Home/TermsAndConditions">
                                Confirm you accept the terms and conditions (opens in a new tab)
                            </a>
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input id="accept-privacy-policy" class="govuk-checkboxes__input" asp-for="AcceptsTermsAndConditions.AcceptsPrivacyPolicy" type="checkbox">
                        <label for="accept-privacy-policy" class="govuk-label govuk-checkboxes__label" asp-for="AcceptsTermsAndConditions.AcceptsPrivacyPolicy">
                            <a target="Privacy" class="govuk-link" rel="noreferrer noopener" aria-label="Open the Privacy Policy" href="/Home/Privacy">
                                Confirm you have read and understood the privacy policy (opens in a new tab)
                            </a>
                        </label>
                    </div>
                </div>
            </div>
            
        </fieldset>

        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button id="accept-terms-btn" data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                    Accept
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="@Url.AbsoluteContent("~/js/terms-and-conditions.js")" asp-append-version="true"></script>
}

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}
