@{
    ViewData["Title"] = "Your access link was not recognised";
}

<h1 class="govuk-heading-m">Your access link was not recognised</h1>
<div class="govuk-grid-column-full" id="summary-container">
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            The application cannot be accessed with your link
        </strong>
    </div>
</div>
<p class="govuk-body">
    This may be because the link has expired, or the Forestry team member that sent you the link has already
    sent you a new one. Please check your email inbox for a replacement link, and if you cannot find it,
    contact the team member directly to ask for a new one.
</p>