table tbody tr.chosen {
    background-color: #00703c;
    color: white;
}

table tbody tr:hover {
    background-color: #cccccc;
}

table tbody tr.chosen:hover {
    background-color: #005a30;
    color: white;
}

button.filter {
    border-radius: 12px;
    margin-bottom: 5px;
}

button.selected {
    background-color: #00703c;
    color: white;
}

button.unselected {
    background-color: gainsboro;
}