@{
    ViewData["Title"] = "Sorry, there is a problem with your account";
}
<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">It may have been deactivated by your local administrator.</p>
    <p class="govuk-body">
        If you think this message is in error, contact the <a class="govuk-link" href="mailto://">Forestry Commission team</a> directly to report your concerns.
    </p>
    <p class="govuk-body">
        <p class="govuk-body">Please <a class="govuk-link" asp-controller="Home" asp-action="Logout">click here</a> to sign out and return to the Home Page.</p>
    </p>
</div>
