@using Forestry.Flo.Internal.Web.Infrastructure.Display
@using Forestry.Flo.Internal.Web.Infrastructure
@{
    ViewData["Title"] = "Cookies";
    ViewData.ShowBackLink(BackLinkType.Close);
}

<div class="govuk-grid-column-full">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" hidden>
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                You’ve set your cookie preferences.
            </p>
        </div>
    </div>

    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

    <p class="govuk-body">The Process felling licence applications service puts small files (known as ‘cookies’) onto your device in order to:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>remember what messages you’ve seen so you’re not shown them again</li>
        <li>understand how you use the service so we can update and improve it</li>
        <li>temporarily store information you enter to support your application</li>
    </ul>

    <p class="govuk-body">Find out more about the cookies we use, what they’re for and when they expire.</p>

    <h2 class="govuk-heading-l">Essential cookies (strictly necessary)</h2>
    <p class="govuk-body">Essential cookies keep your information secure while you use this service. We do not need to ask permission to use them.</p>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Purpose</th>
                <th scope="col" class="govuk-table__header">Expires</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">.AspNet.Consent</td>
                <td class="govuk-table__cell">Saves your cookie consent settings</td>
                <td class="govuk-table__cell">1 year</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">.AspNetCore.Antiforgery.X</td>
                <td class="govuk-table__cell">Protects the website from cross-site forgery attacks</td>
                <td class="govuk-table__cell">Session</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">.AspNetCore.Cookies <br> .AspNetCore.CookiesC1 <br> .AspNetCore.CookiesC2</td>
                <td class="govuk-table__cell">Used to keep you signed in to the service</td>
                <td class="govuk-table__cell">Session</td>
            </tr>
        </tbody>
    </table>

    <h2 class="govuk-heading-l">Optional cookies</h2>
    <h3 class="govuk-heading-m">Cookies that measure website use</h3>
    <p class="govuk-body">We use Google Analytics to collect information about how you use this service. This helps us check it’s meeting your needs and make improvements.</p>
    <p class="govuk-body">Google isn’t allowed to use or share our analytics data, you can <a class="govuk-link" href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies [Google]</a>.</p>

    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_ga</td>
            <td class="govuk-table__cell">Used to distinguish users</td>
            <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gat</td>
            <td class="govuk-table__cell">Used to throttle request rate</td>
            <td class="govuk-table__cell">10 minutes</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gcl_au</td>
            <td class="govuk-table__cell">Used by Google AdSense for experimenting with advertisement efficiency across websites using their services</td>
            <td class="govuk-table__cell">3 months</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gid</td>
            <td class="govuk-table__cell">Used to distinguish users</td>
            <td class="govuk-table__cell">24 hours</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gac</td>
            <td class="govuk-table__cell">Contains campaign related information for the user</td>
            <td class="govuk-table__cell">90 days</td>
        </tr>
        </tbody>
    </table>

    <p class="govuk-body">We also use Microsoft Clarity to collect information about how you use this service. This helps us check it’s meeting your needs and make improvements.</p>
    <p class="govuk-body">Microsoft isn’t allowed to use or share our analytics data, you can <a class="govuk-link" href="https://learn.microsoft.com/en-us/clarity/faq">view their frequently asked questions [Microsoft]</a>.</p>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Purpose</th>
                <th scope="col" class="govuk-table__header">Expires</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">_clck</td>
                <td class="govuk-table__cell">Persists the Clarity User ID and preferences, unique to that site is attributed to the same user ID.</td>
                <td class="govuk-table__cell">1 to 2 years</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">_clsk</td>
                <td class="govuk-table__cell">Connects multiple page views by a user into a single Clarity session recording</td>
                <td class="govuk-table__cell">1 day</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">CLID</td>
                <td class="govuk-table__cell">Identifies the first-time Clarity saw this user on any site using Clarity</td>
                <td class="govuk-table__cell">1 to 2 years</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">ANONCHK</td>
                <td class="govuk-table__cell">Indicates whether MUID is transferred to ANID, a cookie used for advertising. Clarity doesn't use ANID and so this is always set to 0</td>
                <td class="govuk-table__cell">1 to 2 years</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">MR</td>
                <td class="govuk-table__cell">Indicates whether to refresh MUID</td>
                <td class="govuk-table__cell">1 to 2 years</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">MUID</td>
                <td class="govuk-table__cell">Identifies unique web browsers visiting Microsoft sites. These cookies are used for advertising, site analytics, and other operational purposes</td>
                <td class="govuk-table__cell">1 to 2 years</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">SM</td>
                <td class="govuk-table__cell">Used in synchronizing the MUID across Microsoft domains</td>
                <td class="govuk-table__cell">30 minutes to 2 years</td>
            </tr>
        </tbody>
    </table>
    


    <p class="govuk-body">These cookies don’t identify you personally. You can still process felling licence applications if you don’t accept cookies that measure website use.</p>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds width-limit-override">
            <h2 class="govuk-heading-l">Change your cookie settings</h2>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Do you want to accept cookies that measure your website use?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        @if (Context.Request.Cookies[".AspNet.Consent"] == "yes")
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="functional-cookies" name="functional-cookies" type="radio" value="yes" checked>
                                <label class="govuk-label govuk-radios__label" for="functional-cookies">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="functional-cookies-2" name="functional-cookies" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="functional-cookies-2">
                                    No
                                </label>
                            </div>
                        }
                        @if (Context.Request.Cookies[".AspNet.Consent"] == "no")
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="functional-cookies" name="functional-cookies" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="functional-cookies">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="functional-cookies-2" name="functional-cookies" type="radio" value="no" checked>
                                <label class="govuk-label govuk-radios__label" for="functional-cookies-2">
                                    No
                                </label>
                            </div>
                        }
                        @if (Context.Request.Cookies[".AspNet.Consent"] == null)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="functional-cookies" name="functional-cookies" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="functional-cookies">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="functional-cookies-2" name="functional-cookies" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="functional-cookies-2">
                                    No
                                </label>
                            </div>
                        }

                    </div>

                </fieldset>
            </div>

            <button id="saveCookieSettingsButton" class="govuk-button" data-module="govuk-button">
                Save cookie settings
            </button>
        </div>
    </div>

</div>

@section Scripts
    {
    <script src="@Url.AbsoluteContent("~/js/cookies.js")" asp-append-version="true"></script>
}