@{
    ViewData["Title"] = "Sorry, there is a problem with the service";
}
<div class="govuk-grid-column-two-thirds width-limit-override">
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">If you were filling in an Application then we will have saved your progress.</p>
    <p class="govuk-body">
        Contact the <a class="govuk-link" href="mailto://">Forestry Commission team</a> directly to report your concerns.
    </p>
    <p class="govuk-body">
        <p class="govuk-body">Please <a class="govuk-link" asp-controller="Home" asp-action="Index">click here</a> to return to the Home Page.</p>
    </p>
</div>
