<div id="api" class="govuk-form-group"></div>
@section scripts {
    <script defer>
        const CurrentStep = {
          EmailEntry: 0,
          CodeVerification: 1,
          PasswordEntry: 2
        };

        const cancelButton = $('#cancel');
        const continueButton = $('#continue');
        const mainRegisterHeading = $('h1:contains("User Details")');
        var currentStep = CurrentStep.EmailEntry;

        $(function() {
            $("body").addClass("govuk-template__body")
            $("html").addClass("govuk-template");
            $("html").addClass("govuk-template--rebranded");
            $(".localAccount").addClass("govuk-grid-column-two-thirds");
            $("#attributeVerification").addClass("govuk-grid-column-two-thirds");
            $(".heading h1").addClass("govuk-heading-l");
            $(".intro").addClass("govuk-grid-column-two-thirds");
            $(".intro h2").addClass("govuk-hint");
            $(".divider h2").addClass("govuk-hint");
            $(".entry-item").addClass("govuk-form-group");
            $(".entry label").addClass("govuk-label");
            $(".error").addClass("govuk-error-message");
            $(".entry-item input").addClass("govuk-input");
            $(".entry-item input[type='password']").addClass("govuk-password-input__input");
            $(".entry-item input[type='password']").addClass("govuk-js-password-input-input");
            $(".entry-item a").addClass("govuk-link govuk-body");
            $(".create").addClass("govuk-form-group");
            $(".create a").addClass("govuk-link sign-up-link govuk-body");
            $(".create p").addClass("govuk-body");
            $(".buttons").addClass("govuk-button-group");
            $(".buttons button").addClass("govuk-button");
            $(".buttons button#emailVerificationControl_but_send_new_code").addClass("govuk-button--secondary");
            $(".buttons button#cancel").addClass("govuk-button--secondary");
            $(".attrEntry").addClass("govuk-form-group");
            $(".attrEntry label").addClass("govuk-label");
            $(".attrEntry input").addClass("govuk-input");
            $(".attrEntry input[type='password']").addClass("govuk-password-input__input");
            $(".attrEntry input[type='password']").addClass("govuk-js-password-input-input");
            $('#emailVerificationCode').addClass("govuk-input--width-5");
            $(".email_li").closest('ul').wrap("<div class='govuk-form-group'></div>");

            $(mainRegisterHeading).text("Create an account");
            $('#next').text("Continue");

            $(".intro").hide();
            $(".divider").hide();
            $(".govuk-cookie-banner").hide();
        });

        const setCreateButtonGroupVisibility = (enabled) => {
            if(enabled){
                cancelButton.parent().show();
            } else{
                cancelButton.parent().hide();
            }
        }

        $(document).ready(function() {
            if ($('.govuk-heading-l').text() == "Sign in") {
                homepageStyling();
            }
            setCreateButtonGroupVisibility(false);
            setupPwdTogglers();
            removePlaceholderText();

            function homepageStyling() {
                $('.govuk-heading-l').text("Sign in or create an account");
                $('<div>' +
                    '<p class="govuk-body">' +
                        'Sign in to process tree felling applications. If you do not have an account, we’ll help you create one.' +
                    '</p>' +
                '</div>').insertAfter('.govuk-heading-l');

                $(".govuk-input[type='email'").prop("title", "Enter an email address in the correct format");

                $("#createAccount").removeClass("sign-up-link");
                $("#createAccount").text("Create an account");
                var message = $("#createAccount").parent().html();
                $("#createAccount").parent().html(message.replace("Don't have an account?", ""));
            }

            if (~$(location).attr('href').indexOf("claimsexchange=ForgotPassword") || ~$(location).attr('href').indexOf("local=signup")) {
                $('.newPassword_li').hide();
                $('.reenterPassword_li').hide();

            }

            function createErrorSummary() {
                if ($(".govuk-error-summary").length === 0) {
                    $('#api').before('<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary"> <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem </h2> <div class="govuk-error-summary__body"> <ul class="govuk-list govuk-error-summary__list">  </ul> </div></div>');
                }
            }

            function removeErrorSummary() {
                $('.govuk-error-summary').remove();
                $('.govuk-form-group--error').removeClass("govuk-form-group--error");
            }

            function observeMutations(selector, callback) {
                const targetNode = document.querySelector(selector);
                if (targetNode) {
                    const config = { characterData: true, childList: true, subtree: true };
                    const observer = new MutationObserver((mutations) => {
                        mutations.forEach((mutation) => {
                            if (mutation.type === 'childList' || mutation.type === 'characterData') {
                                callback(mutation.target);
                            }
                        });
                    });
                    observer.observe(targetNode, config);
                }
            }

            observeMutations('.error p', (target) => {
                const errorText = $(target).text();

                if (errorText == "We can't seem to find your account") {
                    createErrorSummary();
                    $(target).text("Your details are incorrect");
                    addError("Your details are incorrect", "#email,#password");
                }

                if (errorText == "Your password is incorrect") {
                    createErrorSummary();
                    $(target).text("Your details are incorrect");
                    addError("Your details are incorrect", "#email,#password");
                }

                if (errorText == "Your account is temporarily locked to prevent unauthorized use. Try again later.") {
                    createErrorSummary();
                    $(target).text("Your account is temporarily locked. Try again later or visit the Forgot your password? page.");
                    addError("Your account is temporarily locked. Try again later or visit the Forgot your password? page.", "#email,#password");
                }
            });

            observeMutations('.verificationErrorText div', (target) => {
                const errorText = $(target).text();

                if (errorText == "The verification has failed, try again.") {
                    createErrorSummary();
                    addError("The verification has failed, try again.", "#emailVerificationCode");
                }

                if (errorText == "You have exceeded maximum number of verification attempts.") {
                    createErrorSummary();
                    addError("You have exceeded maximum number of verification attempts.", "#emailVerificationCode");
                }
            });

            observeMutations('.verificationSuccessText div', (target) => {
                const successText = $(target).text();

                if (successText == "Verification code has been sent to your inbox. Please copy it to the input box below.") {
                    $(target).text("We’ve sent a 6-digit security code to your email address. It might take a couple of minutes to arrive. Enter the code below to verify your email address.");
                    $(target).addClass("govuk-body");
                }

                if (successText == "E-mail address verified. You can now continue.") {
                    if (~$(location).attr('href').indexOf("ForgotPassword")) {
                        $('#continue').click();
                    }
                    $('.emailVerificationControl_li').hide();

                    $('#emailVerificationControl_success_message').addClass("govuk-body");

                    $('.intro').html('<p class="govuk-body"><p class="govuk-body">Passwords must be between 8 and 64 characters and have at least 3 of the following:</p><ol class="govuk-list govuk-list--bullet"><li>A lowercase letter (for example a, b, c,)</li><li>An uppercase letter (for example A, B, C)</li><li>A digit (for example 1, 2, 3,)</li><li>A symbol (for example &amp;?!)</li></ol></p>');
                    $('.intro').show();

                    $('.newPassword_li').show();
                    $('.reenterPassword_li').show();

                    setCreateButtonGroupVisibility(true);

                    changeCurrentState(CurrentStep.PasswordEntry);
                }
            });

            const $cancelLink = $('<a class="govuk-link" href="#">Cancel</a>');

            $(".govuk-label[for='email']").text("Enter your email address");
            $(".govuk-label[for='email']").after('<div id="email-hint" class="govuk-hint">We\'ll send a code to this email address to verify it.</div>');
            $("#emailVerificationCode_label").text("Enter the security code");
            $("#emailVerificationCode_label").after('<div id="verification-code-hint" class="govuk-hint">Enter the 6-digit security code we sent to your email address.</div>');
            $("#emailVerificationControl_but_change_claims").after($cancelLink);
            $("#emailVerificationControl_but_verify_code").text("Verify your email address");
            $("#emailVerificationControl_but_send_code").text("Send code")
            $("#newPassword_label").text("New password");
            $("#reenterPassword_label").text("Confirm new password");

            $cancelLink.on('click', function (e) {
                e.preventDefault();
                cancelButton.click();
            });

            function clearCurrentErrors() {
                $('.error p').each(function() {
                    $(this).text("");
                })
            }

            function removePlaceholderText(){
                $('form').find("input[type=text], input[type=email], input[type=password]").each(function (ev) {
                    $(this).attr("placeholder", "");
                });
            }

            function addError(errorText, causedBy) {
                if ($('.govuk-list.govuk-error-summary__list li').length === 0) {
                    if ($(causedBy).is(":visible")) {
                        $(causedBy).parent().addClass("govuk-form-group--error");
                        $(causedBy).parent().children('.error').text(errorText);
                        $('.govuk-error-summary__list').append('<li> <a href="' + causedBy + '">' + errorText + '</a> </li>');
                    }
                }
                else {
                    let found = false;

                    $('.govuk-error-summary__list li').each(function(id, elem) {
                        if ($(elem).innerText == errorText) {
                            found = true;
                        }
                    });

                    if (found) {
                        return;
                    }
                    else {
                        if($(causedBy).is(":visible")) {
                            $(causedBy).parent().addClass("govuk-form-group--error");
                            $(causedBy).parent().children('.error').text(errorText);
                            $('.govuk-error-summary__list').append('<li> <a href="' + causedBy + '">' + errorText + '</a> </li>');
                        }
                    }
                }
            }

            function makeErrorsMoreDescriptive() {
                if ($("div > div", ".email_li").text() == "This information is required.") {
                    $("div > div", ".email_li").text("Enter your email address");
                }

                if ($("div > div", ".emailVerificationCode_li").text() == "This information is required.") {
                    $("div > div", ".emailVerificationCode_li").text("Enter the verification code sent to the email address you have specified");
                }

                if ($("div > div", ".newPassword_li").text() == "This information is required.") {
                    $("div > div", ".newPassword_li").text("Enter a new password");
                }

                if ($("div > div", ".newPassword_li").text() == "The password must not begin or end with a whitespace character.") {
                    $("div > div", ".newPassword_li").text("The password must not begin or end with a space/spaces");
                }

                if ($("div > div", ".reenterPassword_li").text() == "This information is required.") {
                    $("div > div", ".reenterPassword_li").text("Enter a confirm new password");
                }

                if ($("div > div", ".reenterPassword_li").text() == "The password must not begin or end with a whitespace character.") {
                    $("div > div", ".reenterPassword_li").text("The password must not begin or end with a space/spaces");
                }

            }

            $('.govuk-button:not(#cancel):not(.govuk-password-input__toggle)').click(function() {
                removeErrorSummary();
                makeErrorsMoreDescriptive();

                if ($('#email').val().length == 0) {
                    createErrorSummary();
                    addError("Enter your email address", "#email")
                    $('#email')
                } else if (!validateEmail($('#email').val())) {
                    createErrorSummary();
                    addError("Enter an email address in the correct format", "#email")
                }

                if ($('#emailVerificationCode').length && $("div > div", ".emailVerificationCode_li").text() == "Enter the verification code sent to the email address you have specified" && $('.emailVerificationCode_li').is(":visible")) {
                    createErrorSummary();
                    addError("Enter the verification code sent to the email address you have specified", "#emailVerificationCode")
                }

                if ($('#password').length) {
                    if ($('#password').val().length == 0) {
                        createErrorSummary();
                        addError("Enter your password", "#password")
                    }
                }

                if ($(this).is('#continue')) {
                    if ($('#newPassword').length) {
                        if ($('#newPassword').val().length == 0) {
                            createErrorSummary();
                            addError("Enter your new password", "#newPassword")
                        } else if ($('#newPassword').val().length < 8 || $('#newPassword').val().length > 64) {
                            createErrorSummary();
                            addError("The new password must be between 8 and 64 characters", "#newPassword")
                        }
                        if (!pwCheck($('#newPassword').val())) {
                            createErrorSummary()
                            addError("The new password must meet complexity requirements", "#newPassword")
                        }
                        if ($('#newPassword').val().startsWith(' ') || $('#newPassword').val().endsWith(' ')){
                            createErrorSummary()
                            addError("The new password must not begin or end with a space/spaces", "#newPassword")
                        }
                    }
                
                    if ($('#reenterPassword').length) {
                        if ($('#reenterPassword').val().length == 0) {
                            createErrorSummary();
                            addError("Enter your confirm new password", "#reenterPassword")
                        } else if ($('#reenterPassword').val().length < 8 || $('#reenterPassword').val().length > 64) {
                            createErrorSummary();
                            addError("The confirm new password must be between 8 and 64 characters", "#reenterPassword") 
                        }
                        if (!pwCheck($('#reenterPassword').val())) {
                            createErrorSummary()
                            addError("The confirm new password must meet complexity requirements", "#reenterPassword")
                        }
                        if ($('#reenterPassword').val().startsWith(' ') || $('#reenterPassword').val().endsWith(' ')){
                            createErrorSummary()
                            addError("The confirm new password must not begin or end with a space/spaces", "#reenterPassword")
                        }
                    }
                }



                if ($('#newPassword').val() != $('#reenterPassword').val()) {
                    createErrorSummary();
                    addError("The password entry fields do not match. Enter the same password in both fields and try again.", "#newPassword")
                }

            });

            $('#emailVerificationControl_but_send_code').on('click', function() {
                changeCurrentState(CurrentStep.CodeVerification);
            });


            $('#email').on('change', function() {
                changeCurrentState(CurrentStep.EmailEntry);
            });

            function validateEmail(email) {
                var emailReg = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return emailReg.test(email);
            }

            function pwCheck(pw) {
                var criteria = 0;
                if (pw.toUpperCase() != pw) {
                    // has lower case letters
                    criteria++;
                }
                if (pw.toLowerCase() != pw) {
                    // has upper case letters
                    criteria++;
                }
                if (/^[a-zA-Z0-9]*$/.test(pw) === false) {
                    // has special characters
                    criteria++;
                }
                if (/\d/.test(pw) === true) {
                    // has numbers
                    criteria++;
                }
                // returns true if 3 or more criteria was met and length is appropriate
                return (criteria >= 3);
            }

            function makePwdToggler(pwd){
                const button = document.createElement('button');
                button.setAttribute('type', 'button');
                button.setAttribute('class', 'govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle');
                button.setAttribute('data-module', 'govuk-button');
                button.setAttribute('aria-label', 'Show password');
                button.setAttribute('aria-controls', 'password-input');
                button.textContent = 'Show';

                const id = pwd.id + 'toggler';
                button.setAttribute('id', id);
                
                const wrapper = $(pwd).wrap('<div class="govuk-input__wrapper govuk-password-input__wrapper"></div>');
                const parentWrapper = wrapper.parent();
                parentWrapper.append(button);
                parentWrapper.addClass('govuk-password-input');
                parentWrapper.attr('data-module', 'govuk-password-input');
            }

            function setupPwdTogglers(){
                const pwdInputs = document.querySelectorAll('input[type=password]');
                for (let i = 0; i < pwdInputs.length; i++) {
                    makePwdToggler(pwdInputs[i]);
                }
            }

            function changeCurrentState(newState){
                currentStep = newState;

                switch(currentStep){
                    case CurrentStep.EmailEntry:
                        $(mainRegisterHeading).text("Create an account");
                        setCreateButtonGroupVisibility(false);
                        break;
                    case CurrentStep.CodeVerification:
                        $(mainRegisterHeading).text("Verify your email address");
                        setCreateButtonGroupVisibility(false);
                        break;
                    case CurrentStep.PasswordEntry:
                        $(mainRegisterHeading).text("Create an account");
                        setCreateButtonGroupVisibility(true);
                        break;
                }

                clearCurrentErrors();
            }
        });
    </script>
}