@using Forestry.Flo.Internal.Web.Infrastructure
@{
    ViewData["Title"] = "Process felling licence applications: Privacy policy";
    ViewData.ShowBackLink(BackLinkType.Close);
}

<div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

    <p class="govuk-body">This privacy policy relates to the Process felling licence applications service run by the Forestry Commission.</p>
    <p class="govuk-body">By agreeing to the declaration, you understand that:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>the details you’ve given will be checked against information held by other organisations to decide whether to issue or withdraw a tree felling licence</li>
        <li>we retain your data electronically and may use it to check our systems work securely and effectively</li>
        <li>we may pass information about your application to organisations in the UK when it’s in the public interest to do so</li>
        <li>we may ask for feedback through links and post-application surveys</li>
    </ul>

    <p class="govuk-body">        
        Read the <a href="https://www.gov.uk/government/organisations/forestry-commission/about/personal-information-charter" class="govuk-link">Forestry Commission personal information charter</a> to find out how we store and protect your information.
    </p>

    <h2 class="govuk-heading-l">Information we ask for</h2>

    <p class="govuk-body">When you process felling licence applications we’ll ask you for a range of information, including your name and address.</p>
    <p class="govuk-body">We may contact you for additional information, for example if there is missing information, or if we need to check you have permission to make the application.</p>
    <p class="govuk-body">Information you enter online will be held temporarily and securely in line with the <a href="https://www.forestryengland.uk/privacy" class="govuk-link">Forestry Commission privacy policy</a>. We store cookies on your computer and you can find more information about this in our cookies policy. We do this so you can progress through and complete your application. Your information and uploaded photos won’t be stored permanently until you submit your application.</p>

    <h2 class="govuk-heading-l">Feedback</h2>
    <p class="govuk-body">We welcome your views on this service. We invite feedback through links in the website and post-application surveys.</p>
    <p class="govuk-body">We’ll use what you tell us to improve this and related services.</p>

    <h2 class="govuk-heading-l">Site usage</h2>
    <p class="govuk-body">Apart from the data you enter, we also collect anonymous site-usage information. This helps us to see how the service is used and how we can make it better. The Forestry Commission complies with the <a href="https://www.gov.uk/data-protection/the-data-protection-act" class="govuk-link">Data Protection Act.</a></p>
    <p class="govuk-body">Read the <a href="https://www.forestryengland.uk/article/our-information-charter" class="govuk-link">Forestry Commission information charter</a> to find out how to ask to see your information or complain about how it’s used.</p>

</div>