@{
    ViewData["Title"] = "Home Page";
}

<div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Access Denied</h1>
    
    <p class="govuk-body">You do not have sufficient privileges to perform the requested action.</p>
</div>



