@{
    ViewData["Title"] = "Pending Forestry Commission users";
}

<div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
    
    <p class="govuk-body">This will be a list of Foresty Commission users pending account confirmation.</p>
</div>



