@{
    ViewData["Title"] = "Enter your details";
}
@model Forestry.Flo.Internal.Web.Models.UserAccount.UserRegistrationDetailsModel


<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

    <p class="govuk-body">After you enter your details, we'll send them to the IT Service Desk to be approved.<br/>
        You'll get an email once your account is ready. This usually takes 1 working day.</p>

    <partial name="Partials/_PageErrors" />

    <form method="post">
        
        <partial name="Partials/_UserAccountDetails"/>

        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                    Send for approval
                </button>

                <a class="govuk-link" asp-controller="Home" asp-action="Logout" title="Abandon changes and go to the home page">Cancel</a>

            </div>
        </div>

    </form>
</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}

@section Scripts
    {
    <script src="~/js/user-registration-account-type-other.js" asp-append-version="true"></script>
}


