@using Forestry.Flo.External.Web.Services

<logged-in>
    @{
        var userName = new ExternalApplicant(User).FullName;

        <p class="govuk-body govuk-!-text-align-right govuk-!-font-size-14 govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-test-id="userfullname">@userName</p>

        <hr class="govuk-section-break govuk-section-break--visible">
    }
</logged-in>
