@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.ConstraintCheckModel

@if (Model.FellingLicenceStatus is FellingLicenceStatus.Draft or FellingLicenceStatus.WithApplicant or FellingLicenceStatus.ReturnedToApplicant && Model.SelectCompartmentStep == true)
{
    <div class="govuk-form-group">
        <form id="runConstraintCheck" target="_blank" method="post" asp-action="RunConstraintsCheck" asp-controller="FellingLicenceApplication">
            <input aria-hidden="True" type="hidden" asp-for="@Model.ApplicationId" name="applicationId">
            <div style="" class="govuk-body-s">
                <div style="display: flex;">
                    <button id="submit-supporting-document" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" data-prevent-double-click="true">
                        Launch constraints check
                    </button>
                    <p>(Opens in new tab)</p>
                </div>
            </div>
        </form>
    </div>
}

