@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.FellingCompartmentPlaybackViewModel

@foreach (var fellingDetail in Model.FellingDetails)
{
    <div>
        <partial name="_FellingDetailPlayback" model="@fellingDetail" />
    </div>
}
