@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.RestockingCompartmentPlaybackViewModel

@foreach (var restockingDetail in Model.RestockingDetails)
{
    <div class="govuk-!-margin-top-6">
        <partial name="_RestockingDetailPlayback" model="@restockingDetail" />
    </div>
}
