<div class="govuk-body">
    
    <p>Temporary page links:</p>
    
    <ul>
        <li><a asp-action="SupportingDocumentation">Supporting documentation</a></li>
        <li><a asp-action="TermsAndConditions">Declaration and confirmation</a></li>
    </ul>
</div>

