@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.ConfirmWithdrawFellingLicenceApplicationModel
@{
    ViewData["Title"] = "Confirm Felling Licence Application Withdrawal";
}

<div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">
        Are you sure you want to withdraw this application?
    </h1>
    
    <p class="govuk-body">
        Your reference number is
        <strong>@Model.ApplicationReference</strong>
    </p>

    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive govuk-visually-hidden">Information</span>
            Please note that whilst the application will no longer be editable or able to be submitted, you will still be able to modify and re-use the woodland information in any future applications.
        </strong>
    </div>

    <a asp-action="ApplicationTaskList" asp-route-applicationId="@Model.ApplicationId" class="govuk-link">Return to your application</a>

    <div class="govuk-!-margin-top-6">

        <form method="POST" asp-action="WithdrawFellingLicenceApplication">
            @Html.HiddenFor(x => x.ApplicationId)
            <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                Withdraw application
            </button>
        </form>

    </div>

</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs"/>
}