@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.DeleteConfirmationViewModel
@{
    ViewData["Title"] = "Application Deleted";
}

<div class="govuk-grid-column-full">
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Application deleted
        </h1>
        <div class="govuk-panel__body">
            Your reference number<br>
            <strong>@Model.ApplicationReference</strong>
        </div>
    </div>
    
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive govuk-visually-hidden">Information</span>
            Please note that whilst the application has been deleted and is non-recoverable, you will still be able to modify and re-use the woodland information in any future applications.
        </strong>
    </div>

    <h3 class="govuk-body">We have sent you a confirmation email.</h3>

    @*ToDo: embed link to feedback page once supplied by GDS*@
    <h3 class="govuk-body"> <a href="https://forms.office.com/e/3jqkczV1Am" target="_blank" rel="noreferrer noopener" class="govuk-link">What did you think of this service?</a>  (takes 30 seconds)</h3>
   
</div>