@using Forestry.Flo.External.Web.Infrastructure
@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.LarchSpeciesInformationModel
@{
    ViewData["Title"] = "You have selected larch species in your application";
    ViewData.ShowBackLink();
}

<partial name="Partials/_ConfirmationMessageDisplay"/>
<partial name="Partials/_UserGuideDisplay"/>

<form id="terms-and-conditions-form" method="POST" asp-controller="FellingLicenceApplication" asp-action="LarchSpeciesInformation">
    <div class="govuk-grid-column-two-thirds">
        <input type="hidden" asp-for="ApplicationId" />
        <input type="hidden" asp-for="ApplicationReference" />
        <input type="hidden" asp-for="FellingCompartmentId" />
        <input type="hidden" asp-for="ProposedFellingDetailsId" />
        <input type="hidden" asp-for="OperationType" />
        <input type="hidden" asp-for="ReturnToPlayback" />
		<input type="hidden" asp-for="ReturnToApplicationSummary" />

        <div class="govuk-body">

            <h1 class="govuk-heading-l">
                @ViewData["Title"]
            </h1>

            <p>
                Larch trees in some parts of England are at risk from disease. Because of this,
                the Forestry Commission has a special process for felling applications that
                include larch species.
            </p>

            <h2 class="govuk-heading-m">Your application may take longer to process</h2>
            <p>
                If you are applying to fell larch trees in a high-risk zone, your application will
                be delayed from 1 October to 30 June while we carry out checks
            </p>
            <p>
                The application review system automatically highlights any applications in a
                high-risk zone.
            </p>

            <h2 class="govuk-heading-m">If your application includes other tree species</h2>
            <p>
                If your application includes other tree species and you don’t want delays,
                remove larch from your application. Submit a separate application for larch
                only.
            </p>

            <h2 class="govuk-heading-m">Why applications are delayed</h2>
            <p>Application processing takes longer because:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    larch trees lose their needles in autumn, making it harder to check for
                    disease
                </li>
                <li>
                    felling or moving infected larch could spread Phytophthora ramorum, a
                    harmful tree disease
                </li>

            </ul>
            <p>
                To prevent this, the Forestry Commission must check if the trees you want to
                fell are infected before approving your application.
            </p>

            <h2 class="govuk-heading-m">What happens after 30 June</h2>
            <p>
                Once trees have flushed (grown new needles), it is easier to check for
                disease. The Forestry Commission will then either:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    approve your felling licence, or
                </li>
                <li>
                    issue a Statutory Plant Health Notice (SPHN) if the trees are infected. An
                    SPHN means you must legally fell and dispose of infected trees to prevent
                    the spread of disease, following specific biosecurity rules
                </li>

            </ul>
            <div class="govuk-inset-text">
                If you receive an SPHN, you must legally fell and dispose of infected trees
                to stop the disease from spreading. You must also follow biosecurity
                measures to prevent further infection
            </div>
        </div>

        <div class="govuk-button-group">
            <button class="govuk-button" type="submit" data-module="govuk-button">
                Continue
            </button>
            <a class="govuk-link" asp-controller="FellingLicenceApplication" asp-action="@(Model.ReturnToApplicationSummary == true ? "ApplicationSummary" : "ApplicationTaskList")" asp-route-applicationId="@Model.ApplicationId" title="Abandon changes and go to the home page">Cancel</a>
        </div>
    </div>
</form>