@using Forestry.Flo.External.Web.Infrastructure
@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.SelectWoodlandModel
@{
    ViewData["Title"] = "Select Woodland";
    ViewData.ManuallySetBackLink(Url.Action("CancelNewApplication", "FellingLicenceApplication", new { woodlandOwnerId = Model.WoodlandOwnerId, agencyId = Model.AgencyId, agencySourcePage = Model.AgencySourcePage }));
    ViewData.ShowBackLink();
}

<div class="govuk-grid-column-full">
    <partial name="Partials/_ConfirmationMessageDisplay"/>
    <partial name="Partials/_UserGuideDisplay"/>
    @if (ViewBag.ApplicationSummary is not null)
    {
        <partial name="_ApplicationSummaryNotes" model="@ViewBag.ApplicationSummary" />
    }
    <partial name="Partials/_PageErrors"/>

    <form asp-action="CreateFromNewApplication" asp-controller="PropertyProfile"
          method="post"
          id="createProperty">
        <input type="hidden" asp-for="ApplicationId" />
        <input type="hidden" asp-for="WoodlandOwnerId" />
    </form>

    <form id="application-details-form" method="post">

        <input type="hidden" asp-for="ApplicationId"/>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Which woodland is this application for?
                    </h1>
                </legend>

                <partial name="_ApplicationEditWarning.cshtml" model="@Model"/>

                <validation asp-for="PropertyProfileId"></validation>

                <div id="woodland-hint" class="govuk-hint">
                    Select the woodland where the trees are
                </div>

                <select aria-label="Select a woodland" class="govuk-select" asp-for="PropertyProfileId" aria-describedby="woodland-hint"
                        asp-items="@(new SelectList(ViewBag.PropertyProfiles, "Id", "Name"))">
                    <option value="@Guid.Empty">Select a woodland</option>
                </select>

            </fieldset>

        </div>
        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button class="govuk-button" type="submit" data-module="govuk-button">
                    Continue
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" form="createProperty">
                    Create new woodland
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    @if (!Model.AllowEditing)
    {
        <script src="/js/disable-form-elements.js"></script>

        <script>

            $(function() {

                disableFormElements('#application-details-form');
            });

        </script>
    }
}
