@model Forestry.Flo.Services.Common.Models.DatePart

@{
    var divName = Model?.FieldName + "-div";
    var hintName = Model?.FieldName + "-hint";
}
<div class="govuk-form-group">
    <div class="govuk-date-input" id="@divName">
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" asp-for="Day">
                    Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Day" type="text" inputmode="numeric">
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" asp-for="Month">
                    Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Month" type="text" inputmode="numeric">
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" asp-for="Year">
                    Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="Year" type="text" inputmode="numeric">
            </div>
        </div>
    </div>
</div>