@model Forestry.Flo.Internal.Web.Models.FellingLicenceApplication.FellingLicenceApplicationSummaryModel
@inject FileTypesProvider FileTypesProvider

@using Forestry.Flo.Services.FileStorage.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.Services.Common

@if (Model.MostRecentApplicationDocument.HasValue)
{
    var applicationDocument = Model.MostRecentApplicationDocument.Value;
    var fileType = FileTypesProvider.FindFileTypeByMimeTypeWithFallback(applicationDocument.MimeType).KindOfDocument;
    var fileSize = FileSizeToStringConverter.SizeSuffix(applicationDocument.FileSize);
    var createdDateTime = DateTimeDisplay.GetDateTimeDisplayString(applicationDocument.CreatedTimestamp);
    <div>
        <p class="govuk-body-s">
            <a class="govuk-link govuk-link--no-visited-state" 
               asp-controller="SupportingDocuments" 
               asp-action="DownloadSupportingDocument" 
               asp-route-id="@Model.Id"
               asp-route-documentIdentifier="@applicationDocument.Id" download>Download latest application document</a>
            (@fileSize - @fileType - generated at @createdDateTime)
        </p>
    </div>
}
else
{
    <div>
        <p class="govuk-body-s">
            (No application document has been generated yet.)
        </p>
    </div>
}
