@model Forestry.Flo.Internal.Web.Models.FellingLicenceApplication.FellingLicenceApplicationSummaryModel

@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.Services.Common

@if (Model.MostRecentFcLisReport.HasValue)
{
    var lisDocument = Model.MostRecentFcLisReport.Value;
    var createdDateTime = DateTimeDisplay.GetDateTimeDisplayString(lisDocument.CreatedTimestamp);
    
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Constraints check report</caption>
        <thead class="govuk-table__header">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">File name</th>
                <th scope="col" class="govuk-table__header">Date added</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <a class="govuk-link govuk-link--no-visited-state"
                       asp-controller="SupportingDocuments"
                       asp-action="DownloadSupportingDocument"
                       asp-route-id="@Model.Id"
                       asp-route-documentIdentifier="@lisDocument.Id"
                       download>
                        @lisDocument.FileName
                    </a>
                </td>
                <td class="govuk-table__cell">@createdDateTime</td>
            </tr>
        </tbody>
    </table>
}