<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            This application may need an Environmental Impact Assessment (EIA)
        </p>
        <p>
            The system has flagged this because the applicant chose not to restock the felled trees or restock in an alternative area.
        </p>
        <p>
            Check if the attached EIA forms have been completed correctly.
        </p>
        <ul>
            <li>
                If it has, add the case to Forester and the EIA tracker.
            </li>
            <li>
                If it has not, request the form from the applicant  and move the application to woodland officer review.
            </li>
        </ul>
    </div>
</div>
