@using Forestry.Flo.Internal.Web.Infrastructure
    @if (!ViewData.ModelState.IsValid || TempData.ContainsKey(ControllerExtensions.ErrorMessageKey))
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                @if (!ViewData.ModelState.IsValid)
                {
                    <ul class="govuk-list govuk-error-summary__list">
                        @foreach (var modelStateEntry in ViewData.ModelState)
                        {
                            @foreach (var error in modelStateEntry.Value.Errors)
                            {
                                // replace "." with "_" to account for nested ids from asp-for
                                <li>
                                    <a href="#@modelStateEntry.Key.Replace(".", "_")">@error.ErrorMessage</a>
                                </li>
                            }
                        }

                    </ul>
                }
                @if (TempData.ContainsKey(ControllerExtensions.ErrorMessageKey))
                {
                    if (TempData.ContainsKey(ControllerExtensions.ErrorFieldNameKey))
                    {
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#@TempData[ControllerExtensions.ErrorFieldNameKey]">@TempData[ControllerExtensions.ErrorMessageKey]</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @TempData[ControllerExtensions.ErrorMessageKey]
                        </p>
                    }
                }
            </div>
        </div>
    }


