@using Forestry.Flo.Internal.Web.Infrastructure
@using System.Web
@if (!ViewData.ModelState.IsValid || TempData.ContainsKey(ControllerExtensions.ErrorMessageKey))
{
    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                @if (!ViewData.ModelState.IsValid)
                {
                    <ul class="govuk-list govuk-error-summary__list">
                        @foreach (var modelStateEntry in ViewData.ModelState)
                        {
                            @foreach (var error in modelStateEntry.Value.Errors)
                            {
                                <li>
                                    <a href="#@modelStateEntry.Key.Replace('.', '_')">@error.ErrorMessage</a>
                                </li>
                            }
                        }

                    </ul>
                }
                @if (TempData.ContainsKey(ControllerExtensions.ErrorMessageKey))
                {
                    if (TempData.ContainsKey(ControllerExtensions.ErrorFieldNameKey))
                    {
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#@(TempData[ControllerExtensions.ErrorFieldNameKey]?.ToString()?.Replace('.', '_'))">@TempData[ControllerExtensions.ErrorMessageKey]</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @Html.Raw(HttpUtility.HtmlEncode(TempData[ControllerExtensions.ErrorMessageKey] ?? string.Empty).Replace("\n", "<br/>"))
                        </p>
                    }
                }
            </div>
        </div>
    </div>
}