@model Forestry.Flo.External.Web.Models.PropertyProfile.PropertyProfileImportQuestion

@{
    ViewData["Title"] = "Do you want to import shapefiles?";
    Layout = "_Layout";
}
<div class="govuk-grid-column-two-thirds">
    <form method="post">
        <govuk-form-group asp-for="ImportShapes">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        @ViewData["Title"]
                    </h1>
                </legend>

                <input type="hidden" asp-for="AgencyId"/>

                <validation asp-for="ImportShapes"></validation>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" asp-for="ImportShapes" id="true" type="radio" value="true">
                        <label class="govuk-label govuk-radios__label" asp-for="ImportShapes" for="true">
                            Yes, I want to import shapefiles
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" asp-for="ImportShapes" id="false" type="radio" value="false">
                        <label class="govuk-label govuk-radios__label" asp-for="ImportShapes" for="false">
                            No, I do not want to import shapefiles
                        </label>
                    </div>
                </div>
            </fieldset>
        </govuk-form-group>
        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </div>
    </form>
</div>

@section breadcrumbs
    {
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}