<div>
    <p>Dear @Model.Name</p>
    <p>Your Felling Licence Application has been successfully submitted.</p>
    <p>Your application reference is: @Model.ApplicationReference.</p>
    <p>You can view this submission by following this link: </p>
    <p><a href="@Model.ViewApplicationURL">@Model.ViewApplicationURL</a></p>
<p><strong>Yours sincerely</strong></p>
<p><strong>Forestry Commission</strong><br /> <strong>231 Corstorphine Road, Edinburgh EH12 7AT</strong></p>
<p><a href="mailto:plant.health@forestrycommission.gov.uk">plant.health@forestrycommission.gov.uk</a><a><br /> +44 (0)300 067 5155 (direct)<br /> +44 (0)300 067 5000 (switchboard)<br /> </a></p>
<p><strong><a href="https://www.gov.uk/forestrycommission">www.gov.uk/forestrycommission</a></strong></p>
</div>