@using Forestry.Flo.External.Web.Infrastructure
@model Forestry.Flo.External.Web.Models.DataImport.DataImportViewModel;

@{
    ViewData["Title"] = "Import a new felling licence application";
    ViewData.ShowBackLink();
}

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <partial name="Partials/_ConfirmationMessageDisplay" />
    
    <p class="govuk-body">Upload the completed template files to import your data.</p>

    <div>
        <h2 class="govuk-heading-m">To get started:</h2>
        <ol class="govuk-list govuk-list--bullet">
            <li><a download href="assets/resources/data import templates.zip" class="govuk-link">Download felling licence application CSV templates</a></li>
            <li>Fill them in using your licence data</li>
            <li>Upload all 3 files below</li>
        </ol>
    </div>

    <form method="post" enctype="multipart/form-data" asp-controller="DataImport" asp-action="ParseImportFiles">
        
        <input type="hidden" asp-for="WoodlandOwnerId"/>

        <div>
            <div class="govuk-form-group" id="file-select-group">
                <label id="data-import-files-label" for="data-import-files" class="govuk-label govuk-label--m">Upload licence application templates</label>
                <p class="govuk-hint">Please select all 3 completed template files to upload together</p>
                <p id="data-import-files-error" class="govuk-error-message govuk-visually-hidden" aria-hidden="true">
                    <span class="govuk-visually-hidden">Error:</span><span id="data-import-error-text"></span>
                </p>
                <div class="govuk-drop-zone" data-module="govuk-file-upload">
                    <input type="file" accept=".csv" multiple class="custom-file-input govuk-file-upload" id="data-import-files" name="dataImportFiles" runat="server" />
                </div>
            </div>
            
            <div class="govuk-visually-hidden" aria-hidden="true" id="import-selected-files-list">
                <div class="govuk-grid-row govuk-body">
                    <div class="govuk-grid-column-two-thirds">
                        <table class="govuk-table" id="import-selected-files" name="import-selected-files">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Document</th>
                                <th scope="col" class="govuk-table__header">Action</th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button id="submit-import-files-btn" data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button" disabled="disabled">
                        Continue
                    </button>

                    <a class="govuk-link" asp-controller="Home" asp-action="WoodlandOwner" asp-route-woodlandOwnerId="@Model.WoodlandOwnerId" title="Return to the home page">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="~/js/data-import.js" asp-append-version="true"></script>
}

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}
