@using Forestry.Flo.External.Web.Infrastructure
@model Forestry.Flo.External.Web.Models.DataImport.DataImportViewModel;

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Data Import Facility</h1>

    <partial name="Partials/_PageErrors"/>
    <partial name="Partials/_ConfirmationMessageDisplay" />
    
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Todo</span>
            This page needs content to explain what it is, how to use it etc.
        </strong>
    </div>

    <p>
        <a download href="assets/resources/data import templates.zip" class="govuk-link">Download CSV templates for the data import</a> (files download as a single .zip file)
        <br/>
    </p>

    <form method="post" enctype="multipart/form-data" asp-controller="DataImport" asp-action="ImportData">

        <fieldset class="govuk-fieldset">
            <div class="govuk-form-group" id="file-select-group">
                <label for="data-import-files" class="govuk-label">Select import CSV files</label>
                <p id="data-import-files-error" class="govuk-error-message govuk-visually-hidden" aria-hidden="true">
                    <span class="govuk-visually-hidden">Error:</span><span id="data-import-error-text"></span>
                </p>
                <input type="file" accept=".csv" multiple class="custom-file-input govuk-file-upload" id="data-import-files" name="dataImportFiles" runat="server" />
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button id="submit-import-files-btn" data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button" disabled="disabled">
                        Continue
                    </button>

                    <a class="govuk-link" asp-controller="Home" asp-action="WoodlandOwner" title="Return to the home page">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@section Scripts
{
    <script src="~/js/data-import.js" asp-append-version="true"></script>
}

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}
