@model Forestry.Flo.Internal.Web.Models.FellingLicenceApplication.ReopenWithdrawnApplicationModel
@{
    ViewData["Title"] = "Reopen withdrawn application";
}

<partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary"/>

<div class="govuk-grid-column-two-thirds width-limit-override">
    <h1 class="govuk-heading-m">
        Should this application be re-opened?
    </h1>

    <form method="post">
        <input asp-for="ApplicationId" type="hidden" />
        <div class="govuk-form-group">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox" id="confirm-reopen-check" name="confirm-reopen-check">
                    <label class="govuk-label govuk-checkboxes__label" for="confirm-reopen-check">
                        Yes, this application should be re-opened
                    </label>
                </div>
            </div>
        </div>
        <button data-prevent-double-click="true" type="submit" id="confirm-reopen-button" class="govuk-button" data-module="govuk-button">
            Re-open this application
        </button>
    </form>
</div>

<partial name="Partials/_ActivityFeed" model="@Model.ActivityFeed"/>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}

@section Scripts
{
    <script src="~/js/reopen-withdrawn-application.js" asp-append-version="true"></script>
}